// START global variables
$navbar-height: 52px;
$navbar-more-height: 72px;
$sidebar-width: 335px;
$card-width: 310px; // calc( #{sidebar-width} - 25px);
$background-colour: #282572;
$text-highlight-colour: #fff;
$text-colour: #d8d9d7;
$border-colour: #eaeaea;
$blue-hover-colour: #3280f3;
$sidebar-width-folded: 100vw;
// END global variables
