// START global variables
$navbar-height: 52px;
$sidebar-width: 335px;
$panel-width: 310px; // calc( #{sidebar-width} - 25px);
$background-colour: #222;
$text-highlight-colour: #eee;
$text-colour: #aaa;
$border-colour: #eaeaea;
$blue-hover-colour: #3280f3;
$sidebar-width-folded: 100vw;
// END global variables
