@import '../../app/globals';

/* Editor toggle map buton */
.editor-toggle-button {
    display: block;
    position: absolute;
    right: 92px;
    top: 5px;
    z-index: 5;
    font-size: 21px;
}

/* Main editor panel */
.editor-box {
    position: fixed;
    top: 144px;
    right: 5px;
    width: 280px;
    z-index: 100;
    padding: 6px;
    background-color:rgba(38,38,38,0.75);
    opacity: 0.9;
    border: 1px solid #444444;
    border-radius: .8rem!important;
}

/* Remove gap between buttons and selected polygon bbox name */
.table {
    margin-bottom: 0rem;
}

/* Remove default white underline */
.table td {
    color: #edffff;
    border-top: none;
    text-align: center;
    word-break: break-word;
}

.editor-title {
    font-size: 16pt;
    text-align: left;
    color: #edffff;
    margin-bottom: 4px;
}

.editor-container {
    border: 1px solid #888;
    border-radius: 5px;
}

.editor-button-group {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.editor-button {
    width: 50px;
    height: 50px;
}

.file-input {
    display: none;
}