.zoom-toolbar {
    position: absolute;
    right: 250px;
    top: 5px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.zoom-button {
    font-size: large;
}

.zoom-svg {
    padding: 4px;
}