<div class="modal-header">
  <h4>Region Of Interest</h4><button class="btn btn-sm btn-outline pull-right" aria-label="Close" (click)="dialogRef.close()"><i class="fa fa-times"></i></button>
</div>
<mat-dialog-content>
  <div class="modal-body">
    <table>
      <tbody>
        @for (roi of userStateService.roiList; track roi) {
          <tr>
            <td>{{roi.name}}</td>
            <td  class="btn-col" style="white-space: nowrap">
              <a class="btn btn-purple btn-xs" title="add to map" (click) = "onAddToPolyFilter(roi)"><i class="ti-map-alt"></i></a>
              <a class="btn btn-light btn-xs" title="delete" (click)="onDelete(roi)"><i class="ti-trash"></i></a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</mat-dialog-content>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="close()">Close</button>
</div>
