<div class="modal-header" cdkDrag cdkDragRootElement=".modal-content" cdkDragHandle style="background: #EEE;">
  <h5 class="modal-title" id="exampleModalLongTitle">Record Information</h5>
  <button type="button" class="close" (click)="dialogRef.close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<mat-dialog-content>
  <div class="modal-body" style="margin-left:10px;margin-right:10px;">
    <form>
      @if (data.layer.name !== undefined) {
      <div>
        <h4><span class="text-primary">Layer Name</span></h4>
        <p>{{data.layer.name}}</p>
      </div>
      }
      @if (data.layer.description !== undefined) {
      <div>
        <h4><span class="text-primary">Brief Description</span></h4>
        <p>{{data.layer.description}}</p>
      </div>
      }
      @if (data.layer.iconUrl !== undefined) {
      <div>
        <h4><span class="text-primary">Icon</span></h4>
        <img src="{{data.layer.iconUrl}}" width="20" height="20">
      </div>
      }
      @if (data.cswRecords.length > 0) {
      <div>
        <h4><span class="text-primary">Metadata</span></h4>
        <div class="card">
          <div class="card-body" style="padding-left: 0px;padding-right: 0px;">
            <div>
              @for (cswRecord of data.cswRecords.slice(0,10); track cswRecord; let i = $index) {
              <div class="card card-bordered">
                <div class="card-header">
                  <h4 class="card-title">
                    <a class="accordion-link" data-toggle="collapse" href="#info-link{{i}}"
                      (click)="cswRecord.expanded = !cswRecord.expanded">
                      @if (layerStatus.showInfoWarning(data.layer.id, cswRecord)) {
                        <i class="fa fa-warning text-warning"> </i>
                      }
                      {{cswRecord.contactOrg !=='' && cswRecord.contactOrg !== null ? cswRecord.contactOrg : 'More Information'}}
                    </a>
                  </h4>
                </div>
                <div id="info-link{{i}}" class="card-body card-collapse collapse">
                  @if (layerStatus.showInfoWarning(data.layer.id, cswRecord)) {
                  <p class='text-danger small'><i class="fa fa-warning text-warning"> </i>This service is currently
                    experiencing problems and may not work as expected</p>
                  }
                  <app-info-sub-panel [cswRecord]=cswRecord [layer]=data.layer [expanded]=cswRecord.expanded
                    [showRecordAddButton]="data.showRecordAddButton"></app-info-sub-panel>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
      }
    </form>
  </div>
</mat-dialog-content>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="dialogRef.close()">Close</button>
  </div>
