								<div>
							        <app-ol-preview-map></app-ol-preview-map>
								</div>
								<div *ngIf="layer.name != undefined">
								    <h4><span class="text-primary">Layer Name</span></h4>
								    <p>{{layer.name}}</p>
								</div>
								<div *ngIf="layer.description != undefined">
								    <h4><span class="text-primary">Brief Description</span></h4>
								    <p>{{layer.description}}</p>
								</div>
								<div *ngIf="layer.iconUrl != undefined">
								    <h4><span class="text-primary">Icon</span></h4>
								    <img src="{{layer.iconUrl}}" width="20" height="20">
								</div>
								<div *ngIf="cswRecords.length > 0">
								    <h4><span class="text-primary">Metadata</span></h4>
								    <div class="card">
									    <div class="card-body" style="padding-left: 0px;padding-right: 0px;">
										    <div>
										       <div *ngFor="let cswRecord of cswRecords.slice(0,10); let i = index;" class="card card-bordered">
												   <div class="card-header">
													    <h4 class="card-title">
														    <a class="accordion-link" data-toggle="collapse" href="#info-link{{i}}" (click)="cswRecord.expanded = !cswRecord.expanded" (mouseenter)="highlightOnPreviewMap(layer.name, cswRecord.adminArea)" (mouseleave)="lowlightOnPreviewMap(layer.name, cswRecord.adminArea)">
															<i *ngIf='layerStatus.showInfoWarning(layer.id, cswRecord)' class="fa fa-warning text-warning"> </i>{{cswRecord.adminArea !='' && cswRecord.adminArea!=null ? cswRecord.adminArea : 'More Information'}}
														</a>
													    </h4>
												   </div>
												   <div id="info-link{{i}}" class="card-body card-collapse collapse">
												    	<p *ngIf='layerStatus.showInfoWarning(layer.id, cswRecord)' class='text-danger small'><i class="fa fa-warning text-warning"> </i>This service is currently experiencing some problem and may not work as expected</p>
													    <info-sub-panel [cswRecord]=cswRecord [layer]=layer [expanded]=cswRecord.expanded ></info-sub-panel>
												    </div>
											    </div>
										    </div>
									    </div>
								    </div>
							   </div>
