<li *ngFor="let layer of getActiveLayers();"  >  
    <div class="layerLoadCtrl">
        <div class="input-group input-group-sm" style="padding: 1px; height: 24px;line-height: 14px;flex-wrap: nowrap; line-height: 14p">        
            <i class="fa fa-times red"  style="cursor: pointer;" (click)="removelayer(layer.id);$event.stopPropagation();"data-toggle="tooltip" title="Remove layer from map"></i>
            <label class="input-group-label text-truncate" data-toggle="tooltip" title="{{ layer.description }}" readonly style="width: 100%;margin-left:4px;margin-right:4px;" >
                {{ layer.name }}
            </label>
            <i class="fa fa-tint" style="cursor: pointer;" [ngStyle]="!this.opacityStatus.get(layer.id).show ? {'color':'grey'} : {'color': 'yellow'}" (click)="toggleOpacity(layer.id);" data-toggle="tooltip" title="Layer opacity"></i>
        </div>
        <div *ngIf="this.opacityStatus.get(layer.id).show" class="opacity-slider-panel d-flex" (click)="$event.stopPropagation()">
            <div class="opacity-label">Opacity {{ this.opacityStatus.get(layer.id).opacity }}%&nbsp;</div>
            <mat-slider [min]="0" [max]="100" class="opacity-slider flex-grow-1" [(ngModel)]="this.opacityStatus.get(layer.id).opacity" (input)="layerOpacityChange($event, layer.id)"></mat-slider>
        </div>
    </div>
</li>