@import '../globals';

:host {

    .browse-menu {
        display: flex;
        flex-direction: row;
        position: fixed;
        line-height: 1.2;
        top: 130px;
        left: 350px;
        z-index: 1000;
        padding: 6px;
        background-color:rgb(242, 242, 241); /* From AVRE App Store */
        opacity: 0.9;
        border: 1px solid #444444;
        border-radius: .8rem!important;

        .browse-menu-col {
            flex: fit-content;
        }
    }

    .browse-menu-button {
        display: block;
        position: absolute;
        left: 5px;
        top: 5px;
        height: 32px;
        width: 160px;
        z-index: 5;
        font-size: 20px;
    }

    span:hover {
        color: #ce348a; /* From AuScope style guide */
    }

    .enbolden {
        font-weight: bold;
        font-style: italic;
        color: #ce348a; /* From AuScope style guide */
        max-width: 200px !important;
    }

    .col {
        cursor: pointer;
    }

    .col:hover {
        background-color: rgba(220, 220, 220, 0.8);
        border-radius: 0.3rem;
        color: #ce348a; /* From AuScope style guide */
    }

    .col:hover span {
        color: #ce348a; /* From AuScope style guide */
    }

    a, span {
        font-size: 16px;
        color: black;
        font-weight: 100;
        font-family: Calibri, "Trebuchet MS", sans-serif !important;
    }

    .truncate-layer {
        max-width: 290px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .truncate-grp {
        max-width: 290px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .info-col {
        max-width: 420px;
        min-width: 420px;
        height: 700px;
        overflow-x: hidden;
        overflow-y: auto;
    }

}
