<!-- Menu toggle button -->
<button class="btn browse-menu-button btn-auscope-primary" (click)="toggleBrowsePanel()">
    <em class="fa fa-bars" title="Browse featured layers"></em>&nbsp;Browse
	  <em *ngIf="bShowBrowsePanel" class="fa fa-caret-up caret-icon"></em>
	  <em *ngIf="!bShowBrowsePanel" class="fa fa-caret-down caret-icon"></em>
</button>
<span class="sidebar-toggle" (click)="toggleSidebar()">
    <i class="fa fa-angle-left fa-5x" *ngIf="isSidebarOpen" title="Close active layers"></i>
    <i class="fa fa-angle-right fa-5x" *ngIf="!isSidebarOpen" title="Open active layers"></i>
</span>
<div *ngIf="bShowBrowsePanel" class="browse-menu">
	<!-- Layer Groups column -->
	<div class="container text-left browse-menu-col">
		<div style="font-weight: bold; width: 22rem; margin-bottom: 10px;">Featured Layer Groups
			<!-- 'Bookmarked only' check box -->
			<div *ngIf="isUserLoggedIn()" style="display: inline-block" class="form-check">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input class="form-check-input" type="checkbox" value="" [(ngModel)]="showOnlyBookmarked" id="showBkMarkedDefault">
				<label class="form-check-label" for="showBkMarkedDefault">
					Bookmarked
				</label>
			</div>
		</div>
		<!-- Layer groups -->
		<div class="row align-items-start" *ngFor="let layerGroup of layerGroupColumn | keyvalue">
			<div *ngIf="!showOnlyBookmarked || layerGroupHasBookmarkedLayer(layerGroup.key)" class="col" (click)="selectGroup(layerGroup)">
				<a>
					<span class="truncate-grp" [ngClass]="{'enbolden': isGroupSelected(layerGroup)}" title="{{layerGroup.key}}">
						<i *ngIf="layerGroupHasBookmarkedLayer(layerGroup.key)" class="ti-bookmark-alt bookmark-icon" title="This layer is bookmarked"></i>
						{{layerGroup.key}}
					</span>
				</a>
			</div>
		</div>
	</div>

	<!-- Layers column -->
	<div [style.display]="layerColumnHeader === '' && !panelStayOpen ? 'none' : 'block'" class="container text-left browse-menu-col">
		<a *ngIf="!layerColumnHeader" style="font-weight: bold">Layers</a>
		<a *ngIf="layerColumnHeader"><span style="font-weight: bold;" class="truncate-layer">{{layerColumnHeader}} Layers</span></a>
		<div class="row align-items-start" *ngFor="let layer of layerColumn">
			<!-- Layers -->
			<div *ngIf="!showOnlyBookmarked || checkLayerBookmarked(layer.id)" class="col" (click)="addLayerAndKeepOpen(layer)">
				<a>
					<span class="truncate-layer" [ngClass]="{'enbolden': isLayerSelected(layer)}" title="{{layer.name}}">
						<i *ngIf="!isLayerAdded(layer)" class="fa fa-plus-circle" style="margin-right: 8px; color: #28a745;" title="Click to add layer"></i>
						<i *ngIf="isLayerAdded(layer)" class="fa fa-check-circle" style="margin-right: 8px; color: #28a745;" title="Layer added to map"></i>
						<i *ngIf="checkLayerBookmarked(layer.id)" class="ti-bookmark-alt bookmark-icon" title="This layer is bookmarked"></i>
						{{layer.name}}
					</span>
				</a>
			</div>
		</div>
	</div>

	<!-- Info column -->
	<div [style.display]="selectedLayer || panelStayOpen ? 'block' : 'none'" class="info-col">
		<a style="font-weight: bold">Information</a>
		<!-- 'Stay Open' check box -->
		<div style="float: right;" class="form-check">
			<input class="form-check-input" type="checkbox" value="" [(ngModel)]="panelStayOpen" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
			  Stay Open
			</label>
		</div>
		<p></p>
		<!-- Information -->
		<div *ngIf="selectedLayer">
			<div *ngFor="let cswRecord of selectedLayer.cswRecords; index as i">
				<info-sub-panel *ngIf="selectedLayer" [cswRecord]="cswRecord" [layer]="selectedLayer" [expanded]=1></info-sub-panel>
				<div *ngIf="i !== selectedLayer.cswRecords.length - 1" style="border-bottom:2px solid #ccc;margin-bottom:1rem;"></div>
			</div>
		</div>
	</div>
</div>

