<!-- Menu toggle button -->
<!--<button class="cesium-button cesium-toolbar-button browse-menu-button" (click)="toggleBrowsePanel()">-->
<button class="btn browse-menu-button btn-auscope-primary" (click)="toggleBrowsePanel()">
    <em class="fa fa-bars" title="Browse featured layers"></em>&nbsp;Browse
</button>
<!--<button class="sidebar-toggle cesium-button cesium-toolbar-button browse-menu-button" (click)="toggleSidebar()">-->
<button class="sidebar-toggle btn browse-menu-button btn-auscope-primary" (click)="toggleSidebar()">
    <em class="fa fa-sliders" title="Browse featured layers"></em>&nbsp;SideBar
</button>
<div *ngIf="bShowBrowsePanel" class="browse-menu">
	<!-- Layer Groups column -->
	<div class="container text-left browse-menu-col">
		<a style="font-weight: bold">Featured Layer Groups</a>
		<div class="row align-items-start" *ngFor="let layerGroup of layerGroupColumn | keyvalue">
			<div class="col" (click)="selectGroup(layerGroup)">
				<a>
					<span class="truncate-grp" [ngClass]="{'enbolden': isGroupSelected(layerGroup)}">{{layerGroup.key}}</span>
				</a>
			</div>
		</div>
	</div>

	<!-- Layers column -->
	<div [style.display]="layerColumnHeader === '' && !panelStayOpen ? 'none' : 'block'" class="container text-left browse-menu-col">
		<a *ngIf="!layerColumnHeader" style="font-weight: bold">Layers</a>
		<a *ngIf="layerColumnHeader"><span style="font-weight: bold;" class="truncate-layer">{{layerColumnHeader}} Layers</span></a>
		<div class="row align-items-start" *ngFor="let layer of layerColumn">
			<div class="col" (click)="selectLayer(layer)">
				<a>
					<span class="truncate-layer" [ngClass]="{'enbolden': isLayerSelected(layer)}">{{layer.name}}</span>
				</a>
				<button *ngIf="isLayerSelected(layer)" style="float:right; width:6em; padding:2px" class="btn btn-sm btn-success" type="button" title="Add layer" (click)="addLayer(layer)">
					<i class="fa fa-plus-circle"></i>
					&nbsp;Add
				</button>
			</div>
		</div>
	</div>

	<!-- Info column -->
	<div [style.display]="selectedLayer || panelStayOpen ? 'block' : 'none'" class="info-col">
		<a style="font-weight: bold">Information</a>
		<!-- 'Stay Open' check box -->
		<div style="float: right;" class="form-check">
			<input class="form-check-input" type="checkbox" value="" [(ngModel)]="panelStayOpen" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
			  Stay Open
			</label>
		</div>
		<p></p>
		<!-- Information -->
		<div *ngIf="selectedLayer">
			<div *ngFor="let cswRecord of selectedLayer.cswRecords; index as i">
				<info-sub-panel *ngIf="selectedLayer" [cswRecord]="cswRecord" [layer]="selectedLayer" [expanded]=1></info-sub-panel>
				<div *ngIf="i !== selectedLayer.cswRecords.length - 1" style="border-bottom:2px solid #ccc;margin-bottom:1rem;"></div>
			</div>
		</div>
	</div>
</div>

