<!-- Title -->
<p><b style="font-size:large;">{{cswRecord.name}}</b></p>

<!-- Preview -->
@if (wmsUrl!==undefined) {
<div>
    <b>WMS Preview:</b>
    <div style="position:relative; height:200px; margin:0.5rem 0;">
        <!-- Place images one on top of the other -->
        <div style="display:inline-block; position:absolute; top:0px; left:50px; opacity: 50%;">
            <img id="outlineImg" [src]="outlineUrl" (error)="onPreviewImgError($event)" height="200" width="200"/>
        </div>
        <div style="display:inline-block; position:absolute; top:0px; left:50px; opacity:50%;">
            <img id="wmsImg"
                [src]="wmsUrl"
                loading="lazy"
                (error)="onPreviewImgError($event)"
                (load)="onImgLoad($event)"
                height="200"
                width="200"/>
            @if (!wmsLoaded) {
            <div>
                <i class="fa fa-lg fa-spin fa-spinner preview-spinner"></i>
            </div>
            }
        </div>
    </div>
</div>
}

<div class="link-wrap preview-details">
    <!-- Legend -->
    @if (legendUrl !== undefined) {
    <div>
        <div class="preview-legend-title">Legend:</div>
        <div class="preview-legend-container">
                <img id="legendImg"
                    [src]="legendUrl"
                    fetchpriority="high"
                    (error)="onLegendImgError($event)"
                    (load)="onImgLoad($event)"
                    class="infopanel-legend"
                    style="display: block;" />
                @if (!legendLoaded) {
                    <div class="preview-spinner-container">
                        <i class="fa fa-lg fa-spin fa-spinner preview-spinner"></i>
                    </div>
                }
        </div>
    </div>
    }

    <!-- Abstract -->
    <p>{{cswRecord.description}}</p>

    <!-- How to cite, APA-style -->
    @if (citable) {
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <span><b>How to cite:</b></span>
            <i class="fa fa-regular fa-copy fa-lg" title="Copy citation to clipboard" (click)="copyCite(citation)"></i>
        </div>
        <div #citation>
        @if (DOIname) {
        {{DOIname}} [Producer] {{distributor}} [Distributor]. {{citeURL}}
        } @else {
            <!-- If there are authors -->
            @if (cswRecord.authors?.length > 0) {
                @for (author of cswRecord.authors; track $index) {
                    @if ($last) {
                    {{author}}
                    } @else {
                    {{author}},
                    }
                }
            <!-- If there is a contact person and it is not an enquiries line etc. -->
            } @else if (cswRecord.contactPerson && !regex.test(cswRecord.contactPerson)) {
                {{cswRecord.contactPerson}}
            <!-- Use contact org if nothing is defined -->
            } @else {
                {{cswRecord.contactOrg}}
            <!-- The remainder of the citation -->
            } ({{publicationYear}}).
            {{cswRecord.name}} [Data set]. {{cswRecord.contactOrg}} [Producer]. {{distributor}} [Distributor]. Retrieved {{accessedDate}} from {{citeURL}}
        }
        </div>
    }

    <!-- Organisation etc. -->
    <p><b>Contact org:</b> {{cswRecord.contactOrg}}</p>

    <!-- Funder -->
    @if (cswRecord?.funderOrg !== 'Unknown') {
      <p><b>Funder:</b> {{cswRecord.funderOrg}}</p>
    }

    <!-- Constraints -->
    @if (cleanConstraints(cswRecord.constraints).length > 0) {
      <p><b>Constraints:</b> {{cleanConstraints(cswRecord.constraints)}}</p>
    }

    <!-- Access Constraints -->
    @if (selectConstraints(layer.capabilityRecords, cswRecord.accessConstraints)?.length > 0) {
      <p><b>Access Constraints:</b> {{selectConstraints(layer.capabilityRecords, cswRecord.accessConstraints)}}</p>
    }

    <!-- Info URL -->
    @if (cswRecord?.recordInfoUrl?.length > 0) {
        <p><b>Info URL: </b><a style="color: blue; text-decoration: underline;" target="_blank" href="{{cswRecord.recordInfoUrl}}">Link to Geonetwork Record</a></p>
    }

    <!-- Download URLs etc. -->
    <div>
    @for (onlineResource of cswRecord.onlineResources; track $index) {
        @if (onlineResource.type!=='Unsupported' && onlineResource.type!=='DOI') {
        <p>
            @if (isGetCapabilitiesType(onlineResource)) {
                <span class="label label-default"><b>{{onlineResource.type}}: </b></span>
                <a style="color: blue; text-decoration: underline;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;" target="_blank" href="{{ onlineResourceGetCapabilitiesUrl(onlineResource) }}">{{onlineResource.type}} GetCapabilities Info</a>
            }
            @else {
                <span class="label label-default"><b>{{onlineResource.name.split('_').join(' ')}}: </b></span>
                @if (onlineResource.url) {
                    <a style="color: blue; text-decoration: underline;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;" target="_blank" href="{{ removeProxy(onlineResource.url) }}">{{ removeProxy(onlineResource.url) }}</a>
                }
            }
        </p>
        }
    }
    </div>

</div>