<p><b>Title: </b>{{cswRecord.name}}</p>
<p><b>Abstract: </b>{{cswRecord.description}}</p>
<p><b>Contact org: </b>{{cswRecord.contactOrg}}</p>
<p *ngIf="cswRecord.funderOrg !== 'Unknown'"><b>Funder: </b>{{cswRecord.funderOrg}}</p>
<p *ngIf='cleanConstraints(cswRecord.constraints).length > 0'><b>Constraints: </b>{{cleanConstraints(cswRecord.constraints)}}</p>
<p *ngIf='selectConstraints(layer.capabilityRecords, cswRecord.accessConstraints).length > 0'><b>Access Constraints: </b>{{selectConstraints(layer.capabilityRecords, cswRecord.accessConstraints)}}</p>
<p><b>Info URL: </b><a target="_blank" href="{{cswRecord.recordInfoUrl}}">Link to Geonetwork Record</a></p>
<div *ngFor="let onlineResource of cswRecord.onlineResources">
	<p *ngIf="onlineResource.type=='DOI'">
		<span class="label label-default"><b>DOI Name: </b></span> {{onlineResource.name}}<br>
		<span class="label label-default"><b>Description: </b></span> {{onlineResource.description}}<br>
		<span class="label label-default"><b>URL: </b></span><a target="_blank" href="{{onlineResource.url}}">{{onlineResource.url}}</a><br>
	</p>
	<p *ngIf="onlineResource.type!='Unsupported' && onlineResource.type!='DOI'">
		<span class="label label-default"><b>Resource Type: </b></span>
		<a *ngIf="isGetCapabilitiesType(onlineResource)" target="_blank" href="{{ onlineResourceGetCapabilitiesUrl(onlineResource) }}">{{onlineResource.type}} GetCapabilities Info</a>
		<a *ngIf="!isGetCapabilitiesType(onlineResource)" target="_blank" href="{{ onlineResource.url }}">{{ onlineResource.url }}</a>
	</p>
</div>
<p *ngIf="wmsUrl!=undefined">
	<b>WMS Preview: </b><img appImgLoading src="{{wmsUrl}}" (error)="onImgError($event)" height="100" width="100"/>
</p>
<p *ngIf="legendUrl!=undefined">
	<b>Legend: </b><img appImgLoading src="{{legendUrl}}" (error)="onImgError($event)" class="infopanel-legend"/>
</p>
