.preview-legend-title {
    font-weight: bold;
    margin-bottom: 8px;
}

.preview-details {
    display: inline-block;
    position: relative;
    max-width: 100%;
    margin-bottom: 2rem;

    padding-right: 1rem;
}

.preview-legend-container {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 32px;
    max-height: 200px;
    max-width: 100%;
    margin-bottom: 2rem;
    overflow: auto;
}

.preview-spinner-container {
    width: 100%;
}

.preview-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
