.tabcontent {
    display: none;
    border-top: none;
}

.rowScalar {
    display: inline-flex;
    padding-left: 10px;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.datasetName {
    padding: 5px;
}

.btnSpan {
    min-height: 46px;
    display: inline-flex;
    align-items: center;
}