<ac-toolbar [allowDrag]="false">
    <ac-toolbar-button matTooltip="Home" matTooltipPosition="right"
        [iconUrl]="'extension/svg/home-icon.svg'"
        (onClick)="goHome()">
    </ac-toolbar-button>
    <ac-toolbar-button matTooltip="Zoom To Rectangle" matTooltipPosition="right"
        [iconUrl]="'extension/svg/select.svg'"
        (onClick)="zoomToRectangle()">
    </ac-toolbar-button>
    <ac-toolbar-button matTooltip="Zoom In" matTooltipPosition="right"
        (onClick)="zoomIn()"><h3>+</h3>
    </ac-toolbar-button>
    <ac-toolbar-button matTooltip="Zoom Out" matTooltipPosition="right"
        (onClick)="zoomOut()"><h3>-</h3>
    </ac-toolbar-button>
</ac-toolbar>