#map-theme-text {
    z-index: 2;
}

/* Filter Clipboard */
.card .card-body .btn {
        background-color: rgba(49,197,86,0.5);
        margin-right: 3px;
        margin-left: 3px;
    }
.card .card-body .btn-active {
        background-color: rgba(17,216,66,0.8);
    }
