#map-theme-text {
    z-index: 2;
}

/* Filter Clipboard */
.card .card-body .btn {
    background-color: rgba(49,197,86,0.5);
    margin-right: 3px;
    margin-left: 3px;
}
.card .card-body .btn-active {
    background-color: rgba(17,216,66,0.8);
}


.editor-box {
    position: fixed;
    top: 100px;
    right: 10px;
    width:205px;
    height:110px;
    z-index: 100;
}

#mapSlider {
    position: absolute;
    left: 50%;
    top: 0px;
    background-color: #222;
    width: 5px;
    height: 100%;
    z-index: 9999;
}
#mapSlider:hover {
    cursor: ew-resize;
}
.slider-grabber {
    left: -10px;
    width: 25px;
    height: 25px;
    background: #222;
    border-radius: 100px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
