<div class="filter-form">
	<div [hidden]="isCsvSupportedLayer || isWCSDownloadSupported || isDatasetURLSupportedLayer || isIRISDownloadSupported">
		<div class="alert alert-danger fade show">
			<i class="ti-bell float-left" aria-hidden="true"></i>
			<p>Downloads are not supported by the portal for WMS and complex WFS layers. You may wish to download directly from the server by referring to the documentation on Geoserver
			for <a href="http://docs.geoserver.org/stable/en/user/services/wms/reference.html#getmap">getMap</a> and <a href="http://docs.geoserver.org/stable/en/user/services/wfs/reference.html#getfeature">getFeature</a>.
			The service endpoint can be found on the infopanel beside the download tab.</p>
		</div>
	</div>
	<div [hidden]='!(isCsvSupportedLayer || isDatasetURLSupportedLayer || isIRISDownloadSupported)' class="form-group">
		<div *ngIf="!bbox&&drawStarted==false">
			 <div class="alert alert-warning fade show">
                <i class="ti-bell float-left"></i>
                <p>Selecting the appropriate area of your interest will reduce the time it requires to download.</p>
            </div>
		</div>
		<div *ngIf="drawStarted==true">
			 <div class="alert alert-success fade show">
                <i class="ti-bell float-left"></i>
                <p>Click on the map to select bounding box</p>
            </div>
		</div>
		<div *ngIf="bbox" class="container">
			<div class="standard-title row">
				<h4><span>Bounding Box</span></h4>
			</div>

			<h5><span class="badge badge-secondary d-inline ml-5 line-height-1-8">North: {{bbox.northBoundLatitude | number:'1.0-4'}}</span></h5>

			<h5><span class="badge badge-secondary d-inline line-height-1-8">West: {{bbox.westBoundLongitude | number:'1.0-4'}}</span>
			<span class="badge badge-secondary d-inline ml-3 line-height-1-8">East: {{bbox.eastBoundLongitude | number:'1.0-4'}}</span></h5>

			<h5><span class="badge badge-secondary d-inline ml-5 line-height-1-8">South: {{bbox.southBoundLatitude | number:'1.0-4'}}</span></h5>
			<hr>
		</div>

		<p *ngIf="!bbox" class="small text-danger">Downloads without specifying boundaries may time out after 5 minutes due to the size of the data.</p>


    <!-- AusPass Data Download -->
		<div *ngIf="irisDownloadListOption" class="form-group  form-group-sm">
			<label>Service:</label>
			<select class="form-control form-control-sm" [(ngModel)]="irisDownloadListOption.selectedserviceType" (ngModelChange)="onServiceTypeChange()" >
				<option [ngValue]="" disabled>{{SELECT_DEFAULT_DATA_TYPE}}</option>
				<option *ngFor="let serviceType of irisDownloadListOption.serviceTypeList">{{serviceType}}</option>
			</select>
		</div>

		<div *ngIf="irisDownloadListOption" class="form-group  form-group-sm">
			<label>Station:</label>
			<ng-select  [(ngModel)]="irisDownloadListOption.selectedStations" [multiple]="true" bindLabel="label" bindValue="value" placeholder="{{SELECT_DEFAULT_STATION}}" (ngModelChange)="onStationChange()">
				<ng-option *ngFor="let station of irisDownloadListOption.stationLst"  ng-if="station.code!=''" [value]="station.code" >{{station.name}} : {{station.code}}</ng-option>
			 </ng-select>			
		</div>

		<div *ngIf="irisDownloadListOption" class="form-group  form-group-sm">
			<label>Channel:</label>

			 <ng-select [items]="irisDownloadListOption.channelLst" bindLabel="code" bindValue="code" [(ngModel)]="irisDownloadListOption.selectedChannels" [multiple]="true"  placeholder="{{SELECT_DEFAULT_CHANNEL}}" >
				<ng-template ng-option-tmp let-item="item">
					<div title="Azimuth:{{item.azimuth}} , Dip:{{item.dip}} , SampleRate:{{item.sampleRate}}">{{item.code}}</div>
				</ng-template>
			</ng-select>
		</div>

		<div *ngIf="irisDownloadListOption" class="form-group  form-group-sm">
			<label>Start date: [from {{irisDownloadListOption.minDate}}]</label>
			<input type="date" class="form-control form-control-sm" [(ngModel)]="irisDownloadListOption.dateFrom" placeholder="yyyy-mm-dd" dateFormat="yy-mm-dd"  showIcon="true"/>
		</div>

		<div *ngIf="irisDownloadListOption " class="form-group  form-group-sm">
			<label>End date:[to {{irisDownloadListOption.maxDate}}]</label>
			<input type="date" class="form-control form-control-sm" [(ngModel)]="irisDownloadListOption.dateTo"   placeholder="yyyy-mm-dd" dateFormat="yy-mm-dd"  showIcon="true"/>
		</div>
    	<!--End AusPass Data Download -->

		<button *ngIf="!bbox && (!irisDownloadListOption || (irisDownloadListOption && irisDownloadListOption.displayBbox)) " type="button" title="Draw bounds"
		        class="btn btn-info btn-xs" (click)="drawBound()"><i class="fa fa-object-ungroup"></i>&nbsp;Select Bounds</button>
		<button *ngIf="bbox && (!irisDownloadListOption || (irisDownloadListOption && irisDownloadListOption.displayBbox))" type="button" title="Remove bounds"
		        class="btn btn-danger btn-xs" (click)="clearBound()"><i class="fa fa-refresh"></i>&nbsp;Clear Bounds</button>

		<button type="button" class="btn btn-info btn-xs" title="Download data" (click)="download()">
			<i *ngIf="downloadStarted" class="fa fa-spinner fa-spin fa-fw"></i><i *ngIf="!downloadStarted" class="fa fa-cloud-download"></i>&nbsp;Download
		</button>
		<p class="small text-danger ng-star-inserted" *ngIf="showDOIs">
			If you use this dataset please cite:
			Brian Kennett, & Herb McQueen. (2009). Mt Isa Northern Queensland - AuScope [Data set]. Australian Passive Seismic Server.
			URL: <a class="text-danger" target="_blank" href="https://doi.org/10.7914/SN/ZR_2009">https://doi.org/10.7914/SN/ZR_2009</a>
		</p>

		<div [hidden]='!isPolygonSupportedLayer' class="form-group">
			<p *ngIf="!polygonFilter" class="small text-danger">If you want to download from Polygon Filter, please draw or pick a polygon first from the PolygonFilter Panel. (Hint: look for <i class="fa fa-edit"></i> on map)</p>
			<button *ngIf="polygonFilter" type="button" class="btn btn-info btn-xs float-left" title="Download data" (click)="download4Polygon()">
				<i *ngIf="download4pStarted" class="fa fa-spinner fa-spin fa-fw"></i><i *ngIf="!download4pStarted" class="fa fa-cloud-download"></i>&nbsp;Download4Polygon
			</button>
			<button *ngIf="polygonFilter" type="button" class="btn btn-info btn-xs" title="Download as KML. GoogleMap's maxium KML size is 5M!" (click)="download4PolygonKML()">
				<i *ngIf="download4PolygonKMLStarted" class="fa fa-spinner fa-spin fa-fw"></i><i *ngIf="!download4PolygonKMLStarted" class="fa fa-cloud-download"></i>&nbsp;download4PolygonKML
			</button>
		</div>
		<!-- NVCL TSG Download -->

		<button *ngIf="isTsgDownloadAvailable" type="button" class="btn btn-info btn-xs float-left" (click)="PopupTSGDownload()">
			<i *ngIf="download4tStarted" class="fa fa-spinner fa-spin fa-fw"></i><i *ngIf="!download4tStarted" class="fa fa-cloud-download"></i> Download4TsgFiles
		</button>
	</div>

	<div [hidden]='!isWCSDownloadSupported' class="form-group">
		<div *ngIf="!bbox&&drawStarted==false">
			 <div class="alert alert-warning fade show">
                <i class="ti-bell float-left"></i>
                <p>Select an area to download <span *ngIf="downloadSizeLimit > 0">not exceeding {{downloadSizeLimit}} m<sup>2</sup></span></p>
            </div>
		</div>
		<div *ngIf="drawStarted==true">
			 <div class="alert alert-success fade show">
                <i class="ti-bell float-left"></i>
                <p>Click on the map to select bounding box</p>
            </div>
		</div>
		<div *ngIf="bbox && (!irisDownloadListOption || (irisDownloadListOption && irisDownloadListOption.displayBbox))" class="container">
			<div class="standard-title row">
				<h4><span>Bounding Box</span></h4>
			</div>

			<h5><span class="badge badge-secondary d-inline ml-5 line-height-1-8">North: {{bbox.northBoundLatitude | number:'1.0-4'}}</span></h5>

			<h5><span class="badge badge-secondary d-inline line-height-1-8">West: {{bbox.westBoundLongitude | number:'1.0-4'}}</span>
			<span class="badge badge-secondary d-inline ml-2 line-height-1-8">East: {{bbox.eastBoundLongitude | number:'1.0-4'}}</span></h5>

			<h5><span class="badge badge-secondary d-inline ml-5 line-height-1-8">South: {{bbox.southBoundLatitude | number:'1.0-4'}}</span></h5>
			<hr>
		</div>

		<div *ngIf="wcsDownloadListOption" class="form-group  form-group-sm">
			<label>Reference System:</label>
			<select class="form-control form-control-sm" [(ngModel)]="wcsDownloadForm.inputCrs">
				<option [ngValue]="" disabled>{{SELECT_DEFAULT_REF_SYSTEM}}</option>
				<option *ngFor="let inputCrs of wcsDownloadListOption.inputCrsList">{{inputCrs}}</option>
			</select>
		</div>
		<div *ngIf="wcsDownloadListOption" class="form-group  form-group-sm">
			<label>Format:</label>
			<select class="form-control form-control-sm" [(ngModel)]="wcsDownloadForm.downloadFormat">
				<option [ngValue]="" disabled>{{SELECT_DEFAULT_DOWNLOAD_FMT}}</option>
				<option *ngFor="let downloadFormat of wcsDownloadListOption.downloadFormatList">{{downloadFormat}}</option>
			</select>
		</div>
		<div *ngIf="wcsDownloadListOption" class="form-group  form-group-sm">
			<label>Output CRS:</label>
			<select class="form-control form-control-sm" [(ngModel)]="wcsDownloadForm.outputCrs">
				<option [ngValue]="" disabled>{{SELECT_DEFAULT_OUTPUT_CRS}}</option>
				<option *ngFor="let outputCrs of wcsDownloadListOption.outputCrsList">{{outputCrs}}</option>
			</select>
		</div>
		<div *ngIf="wcsDownloadListOption && wcsDownloadListOption.timePositionList.length > 0" class="form-group  form-group-sm">
			<label>Time Position:</label>
			<select class="form-control form-control-sm" [(ngModel)]="wcsDownloadForm.timePosition">
				<option [ngValue]="" disabled>{{SELECT_DEFAULT_TIME_POS}}</option>
				<option *ngFor="let timePos of wcsDownloadListOption.timePositionList">{{timePos}}</option>
			</select>
		</div>
		<button *ngIf="!bbox" type="button" class="btn btn-info btn-xs" title="Draw bounds" (click)="drawBound()"><i class="fa fa-object-ungroup"></i>&nbsp;Select Bounds</button>
		<button *ngIf="bbox" type="button" class="btn btn-danger btn-xs" title="Remove bounds" (click)="clearBound()"><i class="fa fa-refresh"></i>&nbsp;Clear</button>
		<button type="button" class="btn btn-info btn-xs float-right" title="Download data" (click)="download()">
			<i *ngIf="downloadStarted" class="fa fa-spinner fa-spin fa-fw"></i><i *ngIf="!downloadStarted" class="fa fa-cloud-download"></i>&nbsp;Download
		</button>
	</div>

</div>
