<!-- BEGIN #map-area -->
        <div id="map-area" class="map-area">
            <!-- BEGIN map-area-controlsr -->
            <div class="map-area-controls">

                <div class="btn-group float-right d-none d-md-block">
                    <app-olmap-baselayerselector class="float-right mb-3"></app-olmap-baselayerselector>
                    <br>
                    <app-ol-map-zoom class="float-right mb-3"></app-ol-map-zoom>
                    <br>
                    <app-ol-clipboard class="btn-inverse float-right mb-3"></app-ol-clipboard>
                </div>

                <div class="btn-group float-left">
                    <button type="button" class="btn btn-sm btn-inverse active d-none d-md-block" id="mouse-position" style="cursor: default;" >Coordinate: Lon/Lat</button>
                </div>

            </div>
            <!-- BEGIN map-area-controls -->

            <!-- BEGIN map-area-olmap -->
            <div class="map-area-olmap">
                 <app-ol-map class="h-100 w-100"></app-ol-map>
            </div>
            <!-- END map-area-olmap -->
        </div>
        <!-- END #content -->