.form-label {
  margin-right: 1em;
  width: 7em;
}

.form-row {
  margin-top: 0.8em;
  align-items: center;
}

.col-label {
  margin-left: 1em;
  width: 8em;
}

.form-tip {
  font-size: smaller;
  color: gray;
}