<div class="modal-header">
	<h1 class="page-header">
		MSCL <small>analytics</small>
	</h1>
</div>
<div class="modal-body">
	<div class="card card-default">
		<div class="card-header">
			<h4 class="card-title">MSCL Analytics: Borehole {{featureId}}</h4>
		</div>
		<div class="card-body">
			<div #graphing_area>
			    <plotly-plot [data]="graphInput.data" [layout]="graphInput.layout" [config]="graphInput.options"></plotly-plot>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="closeGraphModal()">Close</button>
</div>
