.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#previewMapElementContainer {
    flex:1;
    display:flex;
    flex-direction:column;
    display: block;
    width: 100vm;
    height: 500px;
    min-height: 400px;
    padding: 2px;
}