<button mat-button [matMenuTriggerFor]="helpMenu" class="help-menu" title="Help and information">
    <em class="fa fa-2x fa-info-circle"></em>
    <em class="fa fa-caret-down" style="margin-left:5px;"></em>
</button>
<mat-menu #helpMenu="matMenu" style="margin-top: 12px;">
    <!-- About us -->
    <h5 mat-menu-item>
        <a href="https://www.auscope.org.au/" target="href:blank">
            <em class="ti-home menu-icon"></em>
            <span>&nbsp;About</span>
        </a>
    </h5>
    <!-- User Guide -->
    <h5 mat-menu-item>
        <a href="https://github.com/AuScope/AuScope-Portal-UI/raw/master/docs/AuScopeUserGuide.pdf" target="href:blank">
            <em class="ti-info-alt menu-icon"></em>
            <span>&nbsp;User Guide</span>
        </a>
    </h5>
    <!-- Contact us -->
    <h5 mat-menu-item>
        <a href="mailto:cg-admin@csiro.au?Subject=Auscope-portal" target="href:blank">
            <em class="ti-email menu-icon"></em>
            <span>&nbsp;Contact us</span>
        </a>
    </h5>
    <!-- Cite us -->
    <h5 mat-menu-item>
        <a href="http://hdl.handle.net/102.100.100/483116?index=1" target="href:blank">
            <em class="ti-pencil menu-icon"></em>
            <span>&nbsp;Cite us</span>
        </a>
    </h5>
    <!-- Portal release version and link to disclaimer -->
    <h5 mat-menu-item>
        <li app-portal-details-panel></li>
    </h5>
</mat-menu>
