@use '../../globals';

.menu-link {
    color: globals.$auscope-royal-blue;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.menu-link:hover {
    color: globals.$blue-hover-colour;
}

.menu-icon {
    margin-right: 8px;
    font-size: 1.2rem;
}

.menu-text {
    display: flex;
    flex-direction: column;
}

.menu-subtext {
    color: globals.$text-colour;
    margin-top: -0.5rem;
    font-size: x-small;
    line-height: 1.5rem;
}

::ng-deep {
    .mat-mdc-menu-panel {
        margin-top: 10px;
    }

    .mat-mdc-menu-content {
        background-color: globals.$background-colour;
    }
}