@use '../../globals';

.help-menu {
    color: globals.$text-colour;
}

.help-menu:hover {
    color: globals.$text-highlight-colour;
}

::ng-deep {
    .mat-mdc-menu-panel {
        margin-top: 10px;
    }

    .mat-mdc-menu-content {
        background-color: globals.$background-colour;
    }
}