<!-- Custom Layer Input for WMS service -->
<div class="form-group">
	<label class="control-label" for="inputSuccess1"><span class="white">KML/KMZ URL or OGC WMS Service URL</span></label>
	<div class="input-group" style="margin-left:1em;right:1em;">
		<input type="text" class="form-control" [(ngModel)] = "searchUrl" (keyup)="onKeyUp($event)">
		<div class="input-group-append" title="Add KML, KMZ or OGC WMS service URL layer to map" (click)="search()">
			<button class="btn btn-auscope-primary" type="button" [disabled]="!searchUrl || searchUrl.trim() === ''">
				<i *ngIf="!loading" class="fa fa-search"></i>
				<i *ngIf="loading" class="fa fa-spinner fa-spin fa-fw"></i>
			</button>
		</div>
	</div>
	 <span class="help-block small" [innerHTML]="statusMsg">
	</span>
</div>
<!-- Once a URL has been selected and processed, its available layers are shown here -->
<layer-group *ngIf="urlLayerGroups.Results.length > 0" layerGroup [layerGroups]="urlLayerGroups" style="left:-5.2em;"></layer-group>

<!-- Custom Layer KML File Input -->
<div class="form-group">
	<label class="control-label" for="inputSuccess2"><span class="white">Upload KML/KMZ file</span></label>
	<div class="input-group">
		<input type="file" accept=".kml, .kmz" style="display:none" class="file-input" (change)="onKmlFileSelected($event)" #CustomKmlFileLoader>
		<button (click)="CustomKmlFileLoader.click()" type="button" title="Load KML/KMZ file"  class="btn-primary btn-sm">
			<i class="fa fa-lg fa-file" aria-hidden="true"></i>
			&nbsp;Load KML/KMZ
			<i *ngIf="!loading" class="fa"></i>
			<i *ngIf="loading" class="fa fa-spinner fa-spin fa-fw"></i>
		</button>
	</div>
</div>
<!-- Once a file has been uploaded, its layer is shown here -->
<layer-group *ngIf="fileLayerGroups.Results.length > 0" [layerGroups]="fileLayerGroups"></layer-group>
