.custom-table {
  table-layout: fixed;
  margin-bottom: 5px;
  width: 100%;

  .custom-result-row {
    vertical-align: baseline;

    .text-truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .scale-text {
      color: orange;
      font-size: small;
    }

    .custom-btn {
      line-height: 0.8em;
      width: 6.5rem;
    }
  }
}