<a class="popup" (click)="showPermanentLink=!showPermanentLink;generatePermanentLink()"><i class="ti-link"></i><span *ngIf="showLabel">Permanent Link</span>
	<div class="popuptext container-fluid" [ngClass]="{'show':showPermanentLink}"  style="z-index: 10;">
		<div class="row ml-3 mb-3">
			<div class="input-group ">
				<div class="input-group-prepend">
					<button for="permanentlink-text-copy" class="btn btn-gray" ngxClipboard [cbContent]="permanentlink" type="button">
						<i class="fa fa-files-o"></i>
					</button>
				</div>
				<div appStopPropagation>
					<input type="text" readonly class="form-control" id="permanentlink-text-copy" [(ngModel)]=permanentlink>
				</div>
			</div>
		</div>
        <div class="row ml-3">
			<div *ngIf="shorteningMode" class="small text-warning">URL shortening in progress ...</div>
		</div>
	</div>
</a>
