<div>
	<br>
	<div *ngIf="searchMode" class="form-group" style=" left: -20px;position: relative; font-size:11px;">

		<div class="form-group  form-group-sm">
			<label class="white">Geonetwork Registries</label>
			<select class="form-control form-control-sm" [(ngModel)]="form.cswService" (change) = "setkeywords(form.cswService)">
				<option *ngFor="let cswRegistry of cswRegistries" [ngValue]="cswRegistry">{{cswRegistry.title}}</option>
			</select>
		</div>
		<div class="form-group  form-group-sm">
		    <label class="white">Keywords</label>
			<ng-select [items] = "ngSelectiveOptions" [multiple]="true" bindLabel="label" bindValue="value" placeholder="Select Keywords" [(ngModel)]="form.keywords"></ng-select>
		</div>

		<div>
			<div class="form-group  form-group-sm">
				<label class="white">Text Search</label>
				<input type="text" class="form-control form-control-sm" [(ngModel)]="form.anyText">
			</div>
		</div>

		<div>
			<div class="form-group  form-group-sm">
				<label class="white">Title Search</label>
				<input type="text" class="form-control form-control-sm" [(ngModel)]="form.title">
			</div>
		</div>

		<div>
			<div class="form-group  form-group-sm">
				<label class="white">Abstract Search</label>
				<input type="text" class="form-control form-control-sm" [(ngModel)]="form.abstract">
			</div>
		</div>

		<div *ngIf="!bbox&&drawStarted==false">
			 <div class="alert alert-warning fade show">
	               <i class="ti-bell float-left"></i>
	               <p>Click on 'Select Bounds' to filter your area of interest</p>
	           </div>
		</div>
		<div *ngIf="drawStarted==true">
			 <div class="alert alert-success fade show">
	               <i class="ti-bell float-left"></i>
	               <p>Click on the map to select bounding box</p>
	           </div>
		</div>
		<div *ngIf="bbox" class="container">
			<div class='standard-title row'>
				<h4 class="white"><span>Bounding Box</span></h4>
			</div>

		    <h5><span class="badge badge-secondary d-inline ml-5 line-height-1-8">North: {{bbox.northBoundLatitude | number:'1.0-4'}}</span></h5>

			<h5><span class="badge badge-secondary d-inline line-height-1-8">West: {{bbox.westBoundLongitude | number:'1.0-4'}}</span>
			<span class="badge badge-secondary d-inline ml-3 line-height-1-8">East: {{bbox.eastBoundLongitude | number:'1.0-4'}}</span></h5>

			<h5><span class="badge badge-secondary d-inline ml-5 line-height-1-8">South: {{bbox.southBoundLatitude | number:'1.0-4'}}</span></h5>

			<hr>
		</div>

		<button *ngIf="!bbox" type="button" class="btn btn-info btn-xs" (click)="drawBound()"><i class="fa fa-object-ungroup"></i> Select Bounds</button>
		<button *ngIf="bbox" type="button" class="btn btn-danger btn-xs" (click)="clearBound()"><i class="fa fa-refresh"></i> Clear Bounds</button>
		<button type="button" class="btn btn-info btn-xs float-right" (click)="search()"><i class="fa fa-cloud-download"></i> Search</button>

	</div>

	<div *ngIf="loading && !searchMode"><p class="wip text-danger center-text">Please wait while we search through the catalogue</p>
		<div class ="center-text"><em class="fa fa-spinner fa-spin fa-fw text-danger"></em></div>
	</div>

	<div *ngIf="!searchMode" style="position:relative;font-size:11px;margin-right:5px;">
		<div class="float-right" (click)="closeResult()"><i class="fa fa-window-close white"></i></div>
		<li class="active" *ngFor="let layerGroup of layerGroups | getKey">
		  	<div class="white">
		        {{layerGroup.key}}
		    </div>
			<ul>
				<li *ngFor="let layer of layerGroup.value" [ngClass]="{'active': layer.expanded}">
					<a (click)="layer.expanded = !layer.expanded">
						<div>
							<!--
							<span *ngIf="getUILayerModel(layer.id).statusMap.getRenderStarted()" class="float-right project-percentage hasEvent light-blue">
								<u (click)="openStatusReport(getUILayerModel(layer.id)); $event.stopPropagation();">{{getUILayerModel(layer.id).statusMap.getCompletePercentage()}}
									<i *ngIf="getUILayerModel(layer.id).statusMap.getContainsError()" class="fa fa-warning text-warning">
									</i>
								</u>
							</span>
							-->
							<div>
								<i *ngIf="getUILayerModel(layer.id).statusMap.getRenderStarted()" class="fa fa-times red" (click) = "removeLayer(layer);$event.stopPropagation();"></i>
								<i class="fa fa-arrow-right light-blue"></i> {{layer.name}}
								<i *ngIf="layer.expanded && !getUILayerModel(layer.id).statusMap.getRenderStarted()" class="fa fa-arrow-circle-down"></i>
								<i *ngIf="getUILayerModel(layer.id).statusMap.getRenderStarted() && !getUILayerModel(layer.id).statusMap.getRenderComplete()" class="float-right fa fa-spin fa-spinner light-blue"></i>
								<i *ngIf="getUILayerModel(layer.id).statusMap.getContainsError()" class="float-right fa fa-warning text-warning"></i>
							</div>
							<!--
							<div *ngIf="getUILayerModel(layer.id).statusMap.getRenderStarted()" class="progress progress-xs" style="height: 5px">
								<div class="progress-bar bg-gradient-blue-purple" [style.width]="getUILayerModel(layer.id).statusMap.getCompletePercentage()" role="progressbar"></div>
							</div>
							-->
						</div>
					</a>
					<div [hidden]="!layer.expanded" class="sidebar-card-menu-show">
						 <div class="card card-info card-with-tabs layer-card animated slideInRight">
							<div class="card-header">
								<ul id="card-tab" class="nav nav-tabs float-right">
									<li (click)="selectTabPanel(layer.id,'filterpanel')" [ngClass]="{'active': getUILayerModel(layer.id).tabpanel.filterpanel.expanded}"><a data-toggle="tab"><i class="fa fa-filter"></i> <span class="d-none d-sm-inline">Filter</span></a></li>
									<li (click)="selectTabPanel(layer.id,'infopanel')" [ngClass]="{'active': getUILayerModel(layer.id).tabpanel.infopanel.expanded}"><a data-toggle="tab"><i class="fa fa-info-circle"></i> <span class="d-none d-sm-inline">Info</span></a></li>
								</ul>
							</div>
							<div id="card-tab-content" class="tab-content">
								<div class="tab-pane fade" [ngClass]="{'show active': getUILayerModel(layer.id).tabpanel.filterpanel.expanded}">
									<app-filter-panel *ngIf="getUILayerModel(layer.id).tabpanel.filterpanel.expanded "[layer]=layer></app-filter-panel>
								</div>
								<div class="tab-pane fade" [ngClass]="{'show active': getUILayerModel(layer.id).tabpanel.infopanel.expanded}">
									<info-panel *ngIf="getUILayerModel(layer.id).tabpanel.infopanel.expanded" [expanded]="getUILayerModel(layer.id).tabpanel.infopanel.expanded" [cswRecords]=layer.cswRecords [layer]=layer></info-panel>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</li>
		<div *ngIf="!loading && pageList.length>1" class="pagination dark float-right">
			<a *ngIf="currentPage>1" class="page dark gradient" (click)="currentPage=currentPage-1;search()">Previous</a>
			<a *ngIf="currentPage<pageList.length" class="page dark gradient" (click)="currentPage=currentPage+1;search()">Next</a>
			<select class="page dark gradient" [(ngModel)]="currentPage" (change)="search()">
				<option *ngFor="let idx of pageList">{{idx}}</option>
			</select>
		</div>
	</div>

</div>
