.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// This is necessary to keep the dialog scrollable after calling then closing
// a second dialog (add remote dataset) from this one
::ng-deep ngb-modal-window {
    overflow-y: auto !important;
}