<button mat-button [matMenuTriggerFor]="helpMenu" class="help-menu"><em class="fa fa-2x fa-info-circle"></em><em class="fa fa-caret-down" style="margin-left:5px;"></em></button>
<mat-menu #helpMenu="matMenu" style="margin-top: 12px;">
    <h5 mat-menu-item><a href="http://www.auscope.org.au/" target="href:blank"><em class="ti-home menu-icon"></em><span>&nbsp;About</span></a></h5>
    <h5 mat-menu-item><a href="https://confluence.csiro.au/display/AusGRID/AuScope+Portal+User+Guide" target="href:blank"><em class="ti-info-alt menu-icon"></em><span>&nbsp;User Guide</span></a></h5>
    <h5 mat-menu-item><a href="mailto:cg-admin@csiro.au?Subject=Auscope-portal" target="href:blank"><em class="ti-email menu-icon"></em><span>&nbsp;Contact us</span></a></h5>
</mat-menu>