<div class="modal-header" style="background: #EEE">
    <h1>Catalogue Search</h1>
    <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="margn-left:10px;margin-right:10px;">
	<div *ngIf="searchMode" class="form-group" style="position: relative; font-size:11px;">

		<div class="form-group  form-group-sm">
			<label>Geonetwork Registries</label>
			<select name="cswRegistry" class="form-control form-control-sm" [(ngModel)]="form.cswService" (change) = "setkeywords(form.cswService)">
				<option *ngFor="let cswRegistry of cswRegistries" [ngValue]="cswRegistry">{{cswRegistry.title}}</option>
			</select>
		</div>
		<div class="form-group  form-group-sm">
		    <label>Keywords</label>
			<ng-select name="keywords" [items] = "ngSelectiveOptions" [multiple]="true" bindLabel="label" bindValue="value" placeholder="Select Keywords" [(ngModel)]="form.keywords"></ng-select>
		</div>

		<div>
			<div class="form-group  form-group-sm">
				<label >Text Search</label>
				<input name="anyText" type="text" class="form-control form-control-sm" [(ngModel)]="form.anyText">
			</div>
		</div>

		<div>
			<div class="form-group  form-group-sm">
				<label >Title Search</label>
				<input name="title" type="text" class="form-control form-control-sm" [(ngModel)]="form.title">
			</div>
		</div>

		<div>
			<div class="form-group  form-group-sm">
				<label >Abstract Search</label>
				<input name="abstract" type="text" class="form-control form-control-sm" [(ngModel)]="form.abstract">
			</div>
		</div>

		<div *ngIf="!bbox&&drawStarted==false">
			 <div class="alert alert-warning fade show">
	               <i class="ti-bell float-left"></i>
	               <p>Click on 'Select Bounds' to filter your area of interest</p>
	           </div>
		</div>
		<div *ngIf="drawStarted==true">
			 <div class="alert alert-success fade show">
	               <i class="ti-bell float-left"></i>
	               <p>Click on the map to select bounding box</p>
	           </div>
		</div>
		<div *ngIf="bbox" class="container">
			<div class='standard-title row'>
				<h4 ><span>Bounding Box</span></h4>
			</div>

		    <h5><span class="badge badge-secondary d-inline ml-5 line-height-1-8">North: {{bbox.northBoundLatitude | number:'1.0-4'}}</span></h5>

			<h5><span class="badge badge-secondary d-inline line-height-1-8">West: {{bbox.westBoundLongitude | number:'1.0-4'}}</span>
			<span class="badge badge-secondary d-inline ml-3 line-height-1-8">East: {{bbox.eastBoundLongitude | number:'1.0-4'}}</span></h5>

			<h5><span class="badge badge-secondary d-inline ml-5 line-height-1-8">South: {{bbox.southBoundLatitude | number:'1.0-4'}}</span></h5>

			<hr>
		</div>

		<button *ngIf="!bbox" type="button" class="btn btn-info btn-xs" (click)="drawBound()"><i class="fa fa-object-ungroup"></i> Select Bounds</button>
		<button *ngIf="bbox" type="button" class="btn btn-danger btn-xs" (click)="clearBound()"><i class="fa fa-refresh"></i> Clear Bounds</button>
		<button type="button" class="btn btn-info btn-xs float-right" (click)="search()"><i class="fa fa-cloud-download"></i> Search</button>

	</div>

	<div *ngIf="loading && !searchMode"><p class="wip text-danger">Please wait while we search through the catalogue <i class="fa fa-circle small"></i><i class="fa fa-circle small"></i><i class="fa fa-circle small"></i></p></div>

	<div *ngIf="!searchMode" style="position: relative; font-size:11px; overflow: auto">
		<div class="float-right" (click)="closeResult()"><i class="fa fa-window-close black"></i></div>
		<li class="active" *ngFor="let layerGroup of layerGroups | getKey">
		    <h5>{{layerGroup.key}}</h5>
			<table>
				<tr *ngFor="let layer of layerGroup.value">
					<th>
					    <span *ngIf="uiLayerModels[layer.id].statusMap.renderStarted" class="float-right project-percentage hasEvent light-blue"><u (click)="openStatusReport(uiLayerModels[layer.id]); $event.stopPropagation();">{{uiLayerModels[layer.id].statusMap.completePercentage}}<i *ngIf="uiLayerModels[layer.id].statusMap.containsError" class="fa fa-warning text-warning"></i></u></span>
						<i *ngIf="uiLayerModels[layer.id].statusMap.renderStarted" class="fa fa-times red" (click) = "removeLayer(layer);$event.stopPropagation();"></i>
				    </th>
                    <th style="width: 10%">
                        <!-- Record can not be added -->
                        <button *ngIf="!isAddableRecord(layer) && !olMapService.layerExists(layer.id)" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" title="Layer has no appropriate online resources and as such, cannot be added">
                            <i class="fa fa-times"></i>
                        </button>
                        <!-- Add layer to map -->
                        <button *ngIf="isAddableRecord(layer)" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" title="Add layer to map" (click)="addCSWRecord(layer)">
                            <i class="fa fa-plus-circle" style="color:green;"></i>
                        </button>
				    </th>
					<th>	
						<!-- Layer displayed, button will remove from map -->
                        <button *ngIf="olMapService.layerExists(layer.id)" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" title="Remove layer from map" (click)="removeCSWRecord(layer.id)">
                            <i class="fa fa-trash" style="color:red;"></i>
                        </button>
                    </th>
                    <th>{{ layer.name }}</th>
                    <th>
                        <span class="input-group-append">
                            <button class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" title="Click to display layer information" (click)="displayRecordInformation(layer)">
                                <i class="fa fa-info-circle" style="color:blue;"></i>
                            </button>
                        </span>
                    </th>
                    <th>
					    <div *ngIf="uiLayerModels[layer.id].statusMap.renderStarted" class="progress progress-xs" style="height: 5px">
						    <div class="progress-bar bg-gradient-blue-purple" [style.width]="uiLayerModels[layer.id].statusMap.completePercentage" role="progressbar"></div>
					    </div>
				    </th>
				</tr>
			</table>
		</li>
		<div class="pagination dark">
			<a  class="page dark gradient" (click)="currentPage=currentPage-1;search()" style="margin-right:10px;">Last</a>
			<a  class="page dark gradient" (click)="currentPage=currentPage+1;search()" style="margin-right:10px;">Next</a>
			<select name="pageNumber" class="page gradient" [(ngModel)]="currentPage" (change)="search()">
				<option *ngFor="let idx of totalResults">{{idx}}</option>
			</select>
		</div>
	</div>
</div>
<div class="modal-footer" style="background: #EEE">
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Close</button>
</div>

