<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h3>AuScope Discovery Portal</h3>
            <i class="fa fa-5x fa-users" width="150px"></i>
            <h1 class="login-message">Please log in using one of the options below</h1>
            <a class="login-button" (click)="loginAaf()"><img src="/extension/img/aaf_service_223x54.png" height="46px"></a><br>
            <a class="login-button" (click)="loginGoogle()"><img src="/extension/img/btn_google_signin_dark_normal_web.png" height="46px"></a><br>
            <a class="login-button" (click)="loginGithub()"><img src="/extension/img/GitHub_Logo.png" height="46px"></a>
        </div>
    </div>
</div>
