@use 'app/globals';
:host {
    margin-left: auto;
}

.user-menu {

    .user-login-button {
        display: flex;
        align-items: baseline;
    }
    .user-login-button:hover {
      color: white;
    }
    .user-login-button-label {
        display: flex;
        align-items: center;
    }
}

::ng-deep {
    .mat-mdc-menu-panel {
        margin-top: 10px;
    }

    .mat-mdc-menu-content {
        background-color: globals.$background-colour;
    }

}
