@import '../../globals';
:host {
    margin-left: auto;
}

.user-menu {
    color: $text-colour;

    .user-login-button {
        display: flex;
        align-items: baseline;
    }
    .user-login-button-label {
        display: flex;
        align-items: center;
    }
}

.user-button {
    color: #d8d9d7;
}

.user-button:hover {
    color: white;
}

.user-menu:hover {
    color: $text-highlight-colour;
}

::ng-deep {
    .mat-mdc-menu-panel {
        margin-top: 10px;
    }

    .mat-mdc-menu-content {
        background-color: $background-colour;
    }

}
