@use 'app/globals';
:host {
    margin-left: auto;
}

.user-menu {

    .user-login-button {
        display: flex;
        align-items: baseline;
    }
    .user-login-button-label {
        display: flex;
        align-items: center;
    }
}

.user-menu:hover {
  background-color: rgba(255, 255, 2545, 0.2);
  border-radius: 2rem;
}

::ng-deep {
    .mat-mdc-menu-panel {
        margin-top: 10px;
    }

    .mat-mdc-menu-content {
        background-color: globals.$background-colour;
    }

}
