@use 'app/globals';

.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: globals.$auscope-royal-blue;
  text-align: center;
  color: #fff;
  padding: 3em;
  z-index: 999999999;

  .user-avatar {
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border: 2px solid #fff;
  }

  .login-message {
    margin: 10px 0 20px 0;
  }

  .login-button {
      cursor: pointer;
  }

  img {
    margin-bottom: 10px;
  }

  i {
    margin-bottom: 10px;
  }

}
