<div class="user-menu">
    <div *ngIf="user">
        <button mat-button [matMenuTriggerFor]="loginMenu" class="user-menu" title="Log in">
            <div class="user-login-button">
                <div class="user-login-button-label"><i class="fa fa-2x fa-user"></i>&nbsp;&nbsp;{{ user.fullName }}</div>
                <i class="fa fa-caret-down" style="margin-left:5px;"></i>
            </div>
        </button>
        <mat-menu #loginMenu="matMenu" style="margin-top:12px;">
            <h5 *ngIf="userHasROI()" mat-menu-item (click)="manageROI()"><img src="extension/svg/polygon.svg" fill="#000000" width="24" height="24" style="color:#7E7CAA">
              <span style="color:#7ECAA">&nbsp;&nbsp;Manage Region Of Interest</span>
            </h5>
            <h5 *ngIf="userHasStates()" mat-menu-item (click)="manageStates()">
                <span style="color:#7E7CAA"><i class="ti-link"></i>&nbsp;&nbsp;Manage Permanent Links</span>
            </h5>
            <h5 mat-menu-item (click)="logOut()"><span style="color:#7E7CAA"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Log Out</span></h5>
        </mat-menu>
    </div>
    <div *ngIf="!user">
        <button mat-button class="user-name" title="Log In" (click)="login()">
            <div class="user-login-button">
                <div class="user-login-button-label"><i class="fa fa-2x fa-users"></i>&nbsp;&nbsp;Log In</div>
            </div>
        </button>
    </div>
</div>