.activeLayerItem {
  display: flex;
  position: relative;
  right: 5px;
  width: 100%;
  align-items: center;
  font-size: .85rem;
  color: #d8d9d7;
  margin: 0 5px 0 0;
  padding: 0.5em 0;
  border-bottom: 1px solid rgba(255 ,255, 255, 0.15);

  // Disbale text selection
  -webkit-user-select: none;  /* Safari */
  -ms-user-select: none;      /* IE 10 and IE 11 */
  user-select: none;          /* Standard syntax */

  .activeLayerGrabber {
    cursor: grab;
    margin-right: 0.5em;
    border: 1px solid white;
    border-radius: 0.5em;
    padding: 0.2em 0.4em;
  }

  .activeLayerContent {
    width:100%;
  }

  // Slider min-width is 112px by default which can push components to right off the panel 
  ::ng-deep {
    mat-slider {
      min-width: 80px;
    }
  }

}

.cdk-drag-preview {
  background-color: #6764ce;
  color: #d8d9d7;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drop-list-dragging {
  cursor: grabbing;
}