@import '../../globals';

:host {

    .filter-text{
        width: 100%;
    }
    .filter-btn {
        margin-left: auto;
    }

    ::ng-deep {
        fieldset.show-fieldset-borders {
            margin: 0 0 1em 0;
            padding: 0 1.4em 0.5em 1.4em;
        }

        fieldset legend {
            width: 50%;
        }

        .tab-content {
            padding: 15px 15px 6px 15px;
        }
    }

    .top-layer-btn-panel {
        display:flex;
        position:relative;
        margin-left:auto;
        right:16px;

        .top-layer-btn {
            position: relative;
            top: 16px;
            height: fit-content;
            margin-left: 5px;
        }
    }

    .show-bookmark-btn {
        position: relative;
        top: 5px;
    }

    .bookmark-icon {
        color: $auscope-teal;
        margin-right: 4px;
        vertical-align: middle;
    }

}
