	<div class="form-group" class="search-layers">
		<div class="input-group">
            <input type="text" class="form-control" placeholder="Enter search term here..." [(ngModel)]="searchText" [disabled]="searchMode">
            <div class="input-group-append">
                <button *ngIf="!searchMode" [disabled]="!searchText || searchText.trim() === ''" tabindex="-1" class="btn btn-light" type="button"
						title="Search layers" (click)="search()">
					<i class="fa fa-search"></i>
				</button>
                <button *ngIf="searchMode" tabindex="-1" class="btn btn-light" type="button" title="Clear search" (click)="clearSearch()"><i class="fa fa-ban"></i></button>
                <button tabindex="-1" data-toggle="dropdown" class="btn btn-light dropdown-toggle" type="button" title="Select image/data layers">
                    <i class="fa fa-ellipsis-h"></i>
                </button>
                <ul id="menu-option-dropdown" class="dropdown-menu">
                    <li class="divider"></li>
                    <li>
                        <a (click)="searchByFilterMode(eFilterMode.Image)"><i class="fa fa-image"></i> Image Layer</a>
                    </li>
                    <li>
                        <a (click)="searchByFilterMode(eFilterMode.Data)"><i class="fa fa-sliders"></i> Data Layer</a>
                    </li>
                </ul>
            </div>
        </div>
	</div>
	<div *ngIf="areLayersFiltered" class="filtered-layers">
		<div>Showing layers compatible with Polygon Filter</div>
		<button class="btn btn-info btn-sm" type="button" title="Show all layers" (click)="removeFilterLayers()">
			Show All
		</button>
	</div>
	<li *ngFor="let layerGroup of layerGroups | keyvalue" >
		<a [hidden]="layerGroup.value.hide" (click)="layerGroup.value.loaded=layerGroup.value;layerGroup.value.expanded = !layerGroup.value.expanded;"
			[ngClass]="{'highlight': isLayerGroupVisible(layerGroup.value) , 'text-primary': isLayerGroupActive(layerGroup.value),
				'font-weight-bold': isLayerGroupActive(layerGroup.value) ,'font-italic':isLayerGroupActive(layerGroup.value)}" >
			{{layerGroup.key}}
			<i class="fa fa-arrow-circle-down" [ngClass]="{'submenu-open-inline':isLayerGroupVisible(layerGroup.value), 'hidden':!isLayerGroupVisible(layerGroup.value) }"></i>
		</a>
		<ul *ngIf="layerGroup.value.loaded" [ngClass]="{'submenu-open-block':layerGroup.value.expanded, 'hidden':!layerGroup.value.expanded}">
			<li *ngFor="let layer of layerGroup.value.loaded" [ngClass]="{'active': layer.expanded}">
				<a [hidden]="layer.hide" (click)="layer.expanded = !layer.expanded;" [ngClass]="{'highlight': layer.expanded}">
					<div class="layerLoadCtrl">
						<span *ngIf="getUILayerModel(layer.id).statusMap.getRenderStarted()" class="float-right project-percentage hasEvent light-blue">
							<i *ngIf="!getUILayerModel(layer.id).statusMap.getRenderComplete()" class="fa fa-spin fa-spinner"></i>
                    		<i *ngIf="getUILayerModel(layer.id).statusMap.getContainsError()" class="fa fa-warning text-warning"></i>
							<!--
							<u (click)="openStatusReport(getUILayerModel(layer.id)); $event.stopPropagation();">{{getUILayerModel(layer.id).statusMap.getCompletePercentage()}}
								<i *ngIf="getUILayerModel(layer.id).statusMap.getContainsError()" class="fa fa-warning text-warning">
								</i>
							</u>
							-->
						</span>
						<div class="layerLoadClickable">
							<i *ngIf="getUILayerModel(layer.id).statusMap.getRenderStarted()" class="fa fa-times red" title="Remove layer from map" (click)="removeLayer(layer);$event.stopPropagation()"></i>
							{{layer.name}}
							<i *ngIf="layer.expanded && !getUILayerModel(layer.id).statusMap.getRenderStarted()" class="fa fa-arrow-circle-down"></i>
						</div>
						<!--
						<div *ngIf="getUILayerModel(layer.id).statusMap.getRenderStarted()" class="progress progress-xs" style="height: 5px">
							<div class="progress-bar bg-gradient-blue-purple" [style.width]="getUILayerModel(layer.id).statusMap.getCompletePercentage()" role="progressbar"></div>
						</div>
						-->
						<div *ngIf="getUILayerModel(layer.id).statusMap.getRenderStarted() || getUILayerModel(layer.id).statusMap.getRenderComplete()" class="opacity-slider-panel d-flex" (click)="$event.stopPropagation()">
							<div class="opacity-label">Opacity {{ getUILayerModel(layer.id).opacity }}%&nbsp;</div>
							<mat-slider [min]="0" [max]="100" class="opacity-slider flex-grow-1" [(ngModel)]="getUILayerModel(layer.id).opacity" (input)="layerOpacityChange($event, layer)"></mat-slider>
						</div>
						<div class="split-panel" *ngIf="getShowSplitMapButtons(layer)" (click)="$event.stopPropagation()">
							Split Direction&nbsp;
							<div *ngIf="getApplicableSplitLayer(layer)" class="split-button-panel">
								<button [className]="getLayerSplitDirection(layer.id) == 'left' ? 'btn btn-split btn-primary' : 'btn btn-split btn-warning'" (click)="setLayerSplitDirection($event, layer, 'left')">Left</button>
								<button [className]="getLayerSplitDirection(layer.id) == 'none' ? 'btn btn-split btn-primary' : 'btn btn-split btn-warning'" (click)="setLayerSplitDirection($event, layer, 'none')">Both</button>
								<button [className]="getLayerSplitDirection(layer.id) == 'right' ? 'btn btn-split btn-primary' : 'btn btn-split btn-warning'" (click)="setLayerSplitDirection($event, layer, 'right')">Right</button>
							</div>
							<div *ngIf="!getApplicableSplitLayer(layer)" class="split-button-panel">
								<button class="btn btn-split btn-primary" [disabled]="true">Layer not supported</button>
							</div>
						</div>
					</div>
				</a>
				<div [hidden]="!layer.expanded || layer.hide" class="sidebar-card-menu-show">
					<div class="card card-info card-with-tabs layer-card animated  slideInRight">
						<div class="card-header">
							<ul id="card-tab" class="nav nav-tabs">
								<li (click)="selectTabPanel(layer.id,'filterpanel')" [ngClass]="{'active': getUILayerModel(layer.id).tabpanel.filterpanel.expanded}"><a data-toggle="tab"><i class="fa fa-filter"></i> <span class="d-none d-sm-inline">Filter</span></a></li>
								<!-- <li (click)="selectTabPanel(layer.id,'infopanel')" [ngClass]="{'active': getUILayerModel(layer.id).tabpanel.infopanel.expanded}"><a data-toggle="tab"><i class="fa fa-info-circle"></i> <span class="d-none d-sm-inline">Info</span></a></li> -->
								<li (click)="displayRecordInformation(layer)" [ngClass]="{'active': getUILayerModel(layer.id).tabpanel.infopanel.expanded}"><a data-toggle="tab"><i class="fa fa-info-circle"></i> <span class="d-none d-sm-inline">Info</span></a></li>
								<li (click)="selectTabPanel(layer.id,'downloadpanel')" [ngClass]="{'active': getUILayerModel(layer.id).tabpanel.downloadpanel.expanded}" class="d-none d-md-block"><a data-toggle="tab"><i class="fa fa-download"></i> <span>Download</span></a></li>
							</ul>
						</div>
						<div id="card-tab-content" class="tab-content ">
							<div class="tab-pane fade" [ngClass]="{'show active': getUILayerModel(layer.id).tabpanel.filterpanel.expanded}">
								<app-filter-panel *ngIf="getUILayerModel(layer.id).tabpanel.filterpanel.expanded" [layer]=layer></app-filter-panel>
							</div>
							<div class="tab-pane fade" [ngClass]="{'show active': getUILayerModel(layer.id).tabpanel.infopanel.expanded}">
								<info-panel *ngIf="getUILayerModel(layer.id).tabpanel.infopanel.expanded" [expanded]="getUILayerModel(layer.id).tabpanel.infopanel.expanded" [cswRecords]=layer.cswRecords [layer]=layer></info-panel>
							</div>
							<div class="tab-pane fade" [ngClass]="{'show active': getUILayerModel(layer.id).tabpanel.downloadpanel.expanded}">
								<app-download-panel *ngIf="getUILayerModel(layer.id).tabpanel.downloadpanel.expanded" [layer]=layer></app-download-panel>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</li>
