<div class="modal-body">
  <div class="card card-default card-with-tabs">
      <div class="card-header">
          <h4 class="card-title">Status report</h4>
      </div>
     	<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th>URL</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let resourceStatus of resourceMap | getKey">
						<td class="content-break-word">{{resourceStatus.key}}</td>
						<td>{{resourceStatus.value.status}}</td>
					</tr>
				</tbody>
			</table>
		</div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="bsModalRef.hide()">Close</button>
</div>
