// START global variables
$navbar-height: 52px;
$navbar-more-height: 72px;
$sidebar-width: 335px;
$card-width: 310px; // calc( #{sidebar-width} - 25px);
$background-colour: #F2F2F1;
$text-highlight-colour: #605E7B;
$text-colour: #7E7CAA;
$border-colour: #eaeaea;
$blue-hover-colour: #3280f3;
$sidebar-width-folded: 100vw;
$auscope-royal-blue: #282572;
$auscope-teal: #59c2aa;
$auscope-grey: #d8d9d7;
$auscope-black: #231f20;
// END global variables