@use 'app/globals';

/* Primary, Secondary etc. buttons using AuScope colours */
.btn-auscope-primary {
  background-color: globals.$auscope-sky-blue;
  color: white;
  line-height: 50%;
}

.btn-auscope-primary:hover {
  background-color: globals.$auscope-royal-blue;
}