<div class="search-panel">
    <!-- Search bar and buttons -->
    <div class="input-group">
        <div class="input-group-prepend">
            <button tabindex="-1" class="btn btn-primary" type="button" title="{{showingSearchPanel ? 'Hide search' : 'Show search'}}" (click)="showingSearchPanel = !showingSearchPanel">
                <span *ngIf="!showingSearchPanel" class="fa-layers fa-fw">
                    <i class="fa fa-search"></i>
                    <i class="fa fa-caret-right caret-icon"></i>
                </span>
                <span *ngIf="showingSearchPanel" class="fa-fw">
                    <i class="fa fa-caret-left"></i>
                </span>
            </button>
        </div>
        <input *ngIf="showingSearchPanel" type="text" class="form-control" placeholder="Enter search term here..." [(ngModel)]="queryText" (keyup.enter)="search()" [disabled]="searching">
        <div *ngIf="showingSearchPanel">
            <div class="input-group-append">
                <button tabindex="-1" class="btn btn-primary" title="{{showingAdvancedOptions ? 'Hide advanced search options' : 'Show advanced search options'}}" (click)="showingAdvancedOptions = !showingAdvancedOptions">
                    <span class="fa-layers">
                        <i class="fa fa-sliders"></i>
                        <i *ngIf="!showingAdvancedOptions" class="fa fa-caret-down caret-icon"></i>
                        <i *ngIf="showingAdvancedOptions" class="fa fa-caret-up caret-icon"></i>
                    </span>
                </button>
                <button *ngIf="!searching" [disabled]="!queryText || queryText.trim() === ''" tabindex="-1" class="btn btn-primary" type="button" title="Search layers" (click)="search()"><i class="fa fa-search"></i></button>
                <button *ngIf="searching" tabindex="-1" class="btn btn-primary" type="button" title="Clear search" (click)="clearSearch()"><i class="fa fa-ban"></i></button>
            </div>
        </div>
    </div>
    <!-- Search options -->
    <div class="options-panel" *ngIf="showingSearchPanel && showingAdvancedOptions">
        <label><strong>Advanced Options</strong></label>
        <div class="options-dropdowns">
            <!--
            <div ngbDropdown>
                <button class="btn btn-sm btn-primary" type="button" ngbDropdownToggle>Word Match</button>
                <div ngbDropdownMenu>
                    <input type="radio" class="radio options-checkbox" name="matchType" value="0" (change)="wordMatchChange($event)" [checked]="true" />&nbsp;Contains<br>
                    <input type="radio" class="radio options-checkbox" name="matchType" value="1" (change)="wordMatchChange($event)" />&nbsp;Exact
                </div>
            </div>
            -->
            <div ngbDropdown>
                <button class="btn btn-sm btn-primary" type="button" ngbDropdownToggle>Search Fields</button>
                <div ngbDropdownMenu>
                    <input type="checkbox" class="options-checkbox" [(ngModel)]="allSearchField.checked" (change)="allSearchFieldChange()" />&nbsp;All
                    <div *ngFor="let field of searchFields">
                        <input type="checkbox" class="options-checkbox" [(ngModel)]="field.checked" [disabled]="allSearchField.checked" (change)="searchFieldChange(field.name)" />&nbsp;{{ field.name }}
                    </div>
                </div>
            </div>
            <div ngbDropdown>
                <button class="btn btn-sm btn-primary" type="button" ngbDropdownToggle>Services</button>
                <div ngbDropdownMenu>
                    <input type="checkbox" class="options-checkbox" [(ngModel)]="allOGCServices.checked" (change)="allOGCServicesChange()" />&nbsp;All
                    <div *ngFor="let service of ogcServices">
                        <input type="checkbox" class="options-checkbox" [(ngModel)]="service.checked" [disabled]="allOGCServices.checked" (change)="ogcServiceChange(service.name)" />&nbsp;{{ service.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search results -->
    <div *ngIf="showingSearchPanel && !searching && searchResults" class="results-panel">
        <div *ngIf="searchResults.length === 0">
            <strong>No results found, try refining your search.</strong>
        </div>
        <div *ngIf="searchResults.length > 0">
            <label><strong>Results ({{ searchResults.length }})</strong></label>
            <div *ngFor="let layer of paginatedSearchResults()" class="input-group search-result">
                <span title="{{ layer.name }}" class="search-result-label input-group-text">{{ layer.name }}</span>
                <div class="input-group-append">
                    <button class="btn btn-sm btn-primary info-button" type="button" title="Show information" (click)="showLayerInformation(layer)"><i class="fa fa-info-circle fa-lg"></i>&nbsp;Info</button>
                    <button *ngIf="!csMapService.isMapSupportedLayer(layer)" class="btn btn-sm add-button-warning" type="button" title="Add layer" ngbPopover="{{layerWarningMessage(layer)}}">
                        <i class="fa fa-warning fa-lg"></i>&nbsp;Add
                    </button>
                    <button *ngIf="csMapService.isMapSupportedLayer(layer) && !csMapService.layerExists(layer.id)" class="btn btn-sm add-button" type="button" title="Add layer" (click)="addLayer(layer)"><i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add</button>
                    <button *ngIf="uiLayerModelService.getUILayerModel(layer.id) && uiLayerModelService.getUILayerModel(layer.id).statusMap.getRenderStarted()"
                            class="btn btn-sm delete-button" type="button" title="Remove layer" (click)="removeLayer(layer)">
                        <i class="fa fa-trash fa-lg"></i>&nbsp;Remove
                    </button>
                </div>
            </div>
            <!-- Pagination if more than one page of search results -->
            <div class="pagination" *ngIf="searchResults.length > resultsPerPage">
                <button *ngIf="currentPage > 1" class="btn btn-sm btn-primary" title="Previous page" (click)="previousPage()"><i class="fa fa-arrow-left"></i></button>
                <button *ngIf="currentPage < pageList.length" class="btn btn-sm btn-primary" title="Next page" (click)="nextPage()"><i class="fa fa-arrow-right"></i></button>
                <select *ngIf="pageList.length > 1" [(ngModel)]="currentPage">
                    <option *ngFor="let idx of pageList">{{idx}}</option>
                </select>
            </div>
        </div>
    </div>
</div>