.search-panel {
    position: absolute;
    z-index: 1;
    top: 9px;
    left: 9px;
    width: 50%;

    .clear-query-button {
        position: absolute;
        top: 15%;
        bottom: 15%;
        right: 42px;
        line-height: 0;
        background: white;
        color: gray;
        font-size: large;
        border-left: 1px solid lightgray;
        border-top: none;
        border-right: none;
        border-bottom: none;
        outline: none;
        z-index: 10;
    }

    .search-message {
        background: white;
        padding: 4px 8px 0px 8px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }

    .search-alert {
        display: block;
        background: #ffc300;
        padding: 8px;

        .search-alert-label {
            display: block;

            .search-alert-button {
                float: right;
            }
        }
    }

    .caret-icon {
        transform: translateY(-2px) scale(0.8);
    }

    .show-options-panel {
        background-color: rgba(255, 255, 255, 0.8);
        border-bottom: solid #bbb 2px;
        width: 100%;
        padding: 3px 3px 2px 3px;

        .options-button {
            margin: 0px;
        }

        .tips-button {
            float: right;
        }
    }

    .options-panel {
        background-color: rgba(255, 255, 255, 0.8);
        padding-top: 6px;
        border-bottom: solid #bbb 2px;

        .options-dropdowns {
            display: flex;
            flex-direction: row;
            margin-left: -12px;

            .options-checkbox {
                margin-left: 4px;
                margin-right: 4px;
            }

            .advanced-options-panel {
                padding-left: 5px;
                padding-right: 5px;
            }

            .spatial-options-panel {
                width: 240px;
            }
        }
    }
    
    .results-panel {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 8px;

        .results-list {
            overflow-y: auto;
            height: 360px;

            .layer-header {
                display: flex;
                width: 100%;
                text-align: start;
                background-color: #f2f4f4;
                border-radius: 4px;

                .layer-header-label {
                    width: 100%;
                    color: black;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .layer-header:hover {
                background-color: lightgray;
            }
    
            // Overriding LayerPanel card styles to better fit this panel
            .card {
                margin-bottom: 0px;

                .nav-tabs {
                    margin-top: 0px;
                    padding-bottom: 0px;

                    a {
                        padding: 6px;
                    }
                }   
            }
        }

        ::ng-deep .accordion-item {
            margin-bottom: 2px;
        }
    }
    
    .pagination {
        padding-top: 5px;

        button {
            margin: 0px 4px 0px 0px;
        }
    }

}

