<div id="tima-analytic-accordion">
	<!-- BEGIN card -->
	<div class="card card-default card-bordered">

		<!-- BEGIN card-collapse -->
		<div id="tima-analytic" class="card-collapse collapse" class="in" >
			<div class="card card-default card-with-tabs">
				<!-- BEGIN card-header -->
				<div class="card-header">
					<ul id="nvcl-card-tab" class="nav nav-tabs float-right">
						<li [ngClass]="{'active':!ClassificationActive}" (click)="ClassificationActive=false;" ><a href="#tima-piechart" data-toggle="tab"><i class="fa fa-home"></i> <span class="hidden-xs">Graph</span></a></li>
						<li [ngClass]="{'active':ClassificationActive}" (click)="ClassificationActive=true;"><a href="#tima-panorama" data-toggle="tab"><i class="fa fa-user"></i> <span class="hidden-xs">Classification</span></a></li>
					</ul>
					<h4 class="card-title">Tima</h4>
				</div>
				<!-- END card-header -->
				<!-- BEGIN tab-content -->
				<div id="card-tab-content" class="tab-content">
					<!-- BEGIN tab-pane -->
					<div class="tab-pane fade" [ngClass]="{'active show':!ClassificationActive}" id="#tima-piechart">
						<div class="modal-card-size">

							<ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="ngxdata" [legend]="true" [explodeSlices]="false"
							 [labels]="true" [doughnut]="false" [gradient]="true">
							</ngx-charts-pie-chart>

						</div>
					</div>
					<!-- END tab-pane -->
					<!-- BEGIN tab-pane -->
					<div class="tab-pane fade" [ngClass]="{'active show':ClassificationActive}" id="#tima-panorama">
						<div class="modal-card-size">
							<a target="_BLANK" href={{imageUrl}}><img src={{imageUrl}} style="height: 100%;"/></a>
						</div>
					</div>
					<!-- END tab-pane -->

				</div>
				<!-- END tab-content -->
			</div>
		</div>
		<!-- END card-collapse -->
	</div>
	<!-- END card -->
</div>
