	<div class="modal-header">
		<h4>{{ title }}</h4><button class="btn btn-sm btn-outline pull-right" aria-label="Close" (click)="activeModal.close()"><i class="fa fa-times"></i></button>
	</div>
	<div class="modal-body">
		{{ modalContent }}
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('CANCEL')">{{ cancelButtonText  }}</button>
		<button type="button" class="btn btn-primary" (click)="activeModal.close('OK')">{{ confirmButtonText }}</button>
	</div>
