@use "../../globals";

.portal-version {
    cursor: default;
}

a {
    font-size: 12px;
    display: inline;
}

div {
    text-align: center;
    padding-top: 10px;
    color: globals.$auscope-royal-blue;
}

.disclaimer-link {
    cursor: pointer;
}
