
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'app/globals';

[hidden] { display: none !important;}

/* START general rules for index.html */

:root {
    font-size: 14px;
}

html, body { height: 100%; }
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    list-style: none;
    overflow: hidden;
}
hr {
    border-color:#333;
}
body, div, p, span, td, h1, dt, dd {
    font-family: "Open Sans", sans-serif !important;
}

i {
    margin-left: 3px;
}

ul > li {
    margin: 5px 0px 5px 0px;
    font-size: 12px;
}

li { list-style-type: none; }

a, a:link, a:active, a:visited, a:hover { text-decoration: none }
button, a, a:link, a:visited { color: $text-colour;  }
button:hover, button:active, a:active, a:hover {color: $text-highlight-colour; }

label {
    font-weight: 400;
}

.small, small {
    font-size: 11px !important;
}

/* END general rules for index.html */


/* START general colours */

.highlight {
    color: $text-highlight-colour !important;
}

.text-primary {
    color: #6ca5e4 !important;
}

.text-warning {
	color: #e8c232!important;
}

.text-danger {
	color: #e89f32!important;
}

.alert-danger {
    color: #CC6868;
    background-color: #F6E7E7;
    border-color: #CC6868;
}

.alert-warning {
    display: flex;
    color: #7B780B;
    background-color: #F2F0B8;
    border-color: #DBD404;
}

.light-blue {
	color: #7a7ae6;
}

.red {
	 color: #ec5661;
}

.white {
	 color: white;
}

/* END general colours */



/* START navbar rules */
.navbar {
    min-height: $navbar-height;
    height: $navbar-height;
    background-color: $background-colour;
    margin-bottom: 20px;
    width: 100%;
    position: fixed;
    z-index: 12;
    padding: 0;
    align-items: baseline;

    .navbar-brand {
        color: #eee;
        padding: 10px;
    }

    .navbar-brand > img {
        display: inline;
    }

    .navbar-header {
    	height: $navbar-height;
        width: $sidebar-width;
    }

    .navbar-notify {
        min-width: 50px;
        font-size: 20px;
        display: inline !important;
    }

    .navbar-notify i {
        line-height: 20px;
        position: relative;
        top: 8px;
    }

    .nav > li >a:hover, .nav > li >a:focus {
        background-color: $background-colour;
        text-decoration: none;
    }

    li.dropdown.show > a.dropdown-toggle > i {
         color: $text-highlight-colour;
    }

    button:focus {
        outline: none;
    }

    .navbar-nav {
        width: 50px;
    }

    /* position the twitter feed dropdown */
    .navbar-nav > li > .dropdown-menu {
        padding: 10px;
        background: $auscope-royal-blue;
        position: absolute;
        right: 20px;
        left: auto;
        top: $navbar-height + 8px;
    }

    /* Organisation logo */
    #org-logo {
        background-color: transparent;
        width: 33px;
        height: 33px;
        border: none;
    }

    /* Sidebar menu toggle button */
    .navbar-toggler {
        .icon-bar {
            background-color: $text-highlight-colour;
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
          }

          .icon-bar + .icon-bar {
            margin-top: 4px;
          }

          .nav-map-btn {
              font-size: 24px;
              position: relative !important;
              left: -4px;
              color: $text-highlight-colour;
          }
    }
}
/* END navbar rules */



/* START sidebar rules
 * NB: For filter, info, download panel rules, see "menupanel.scss"
 */
.sidebar {
    border-radius: 0;
    position: fixed;
    z-index: 11;
    top: $navbar-height;
    left: $sidebar-width;
    width: $sidebar-width;
    margin-left: calc(-1.0 * #{$sidebar-width});
    border: none;
    overflow-y: auto;
    background-color: $background-colour;
    bottom: 0;
    overflow-x: hidden !important;
    padding-bottom: 40px;
    transition: all .2s ease-in-out;

    .red {
    	 color: #ec5661;
    }

    .sidebar-heading {
        color: $auscope-teal !important;
        font-weight: 700;
        margin-left: 1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-style: italic;
        font-size: 1rem;
    }

    h5 i {
        font-size: 1rem;
    }

    a {
        color: $text-colour;
    }

    a > i {
        color: $text-colour;
    }

    a:hover > i, a.active > i {
        color: $text-highlight-colour;
    }

    .input-group {
        /* Colours of dropdowns */
        ul a {
            color: black;
        }
    }

    li, h5 > label {
        color: #fff;
        font-size: 1rem;
        line-height: 20px;
        margin-left: 4px;
    }

    ul > li {
        font-size: 0.85rem;
        color: $text-colour;
        margin: 0;
    }

    ul > li:hover {
        color: $text-highlight-colour;
    }

    h5 > a {
        margin-left: 4px;
    }

    /* "about" & "contact us" highlight */
    h5 > a > span:hover {
        color: $text-highlight-colour;
    }

    /* menu highlight */
    h5 > label:hover,
    .menuBtn:checked + h5 > label {
        color: $text-highlight-colour;
    }

    i + span, h5 > label {
        font-size: 1rem;
        color: $text-colour;
        margin-left: 4px;
    }

    /* "permanent link" & "polgon filter" highlight */
    a:hover > i + span {
        color: $text-highlight-colour;
    }

    /* spacing between menu links */
    h5 + li {
        margin-bottom: 5px;
    }

    /* top level menu control in sidebar */

    .menuBtn + h5 > ul {
        /*opacity: 0.01; max-height: 0px; transition: opacity 1s, max-height 1s;*/
        display: none;
    }

    .menuBtn:checked + h5 > ul {
        /*opacity: 1; max-height: 999px; transition: opacity 1s, max-height 1s;*/
        display: block;
    }

    .menuBtn:checked + h5 > label > i.fa.fa-arrow-circle-down {
        display: inline;
    }

    .menuBtn,
    .menuBtn + h5 > label > i.fa.fa-arrow-circle-down {
        display: none;
    }

   /* Do not display sidebar menu subtitles and items when 'hidden' */
    i.hidden, ul.hidden {
        display: none;
    }

    /* "Featured layers" filter dropdown box */
    #menu-option-dropdown {
        i, i:hover, a, a:hover {
            color: black;
        }
    }

    #activeLayersLink {
        margin-top: 10px;
    }
}
/* END sidebar rules */



/* START map area rules */
.map-area {
    overflow: hidden;
    margin-left: $sidebar-width;
    padding: 25px;
    position: relative;
    height: calc(100% - #{$navbar-height});
    top: $navbar-height;
    border-top: 1px solid #999;
    border-left: 1px solid #999;

    .map-area-csmap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .map-area-controls {
        position: relative;
        z-index: 10;
    }

    .ol-scale-line, .ol-control button {
        background-color: #7aa5c5 !important;
        color: white !important;
    }

    /* Map buttons */
    .map-area-controls button {
        color: white !important;
        background-color: #7aa5c5;
        box-shadow: none !important;
    }

    .map-area-controls button:hover, .map-area-controls button:focus {
        color: white;
        background-color: #6c82b3;
    }
}
/* END map area rules */

.nav-tabs {
    border-bottom-color: $text-highlight-colour;
    padding-bottom: 8px;
    margin-top: 10px;
}

.nav-tabs > li > a {
    line-height: 0.428571;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active >a:focus,
.nav-tabs> li.active > a:hover {
    color: $text-highlight-colour;
    cursor: default;
    border: 1px solid $border-colour;
    background-color: $background-colour;
    border-bottom-color: $background-colour;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    color: $text-colour;
    /* background-color: $background-colour; */
    border-color: $background-colour;
    border-bottom-color: $text-highlight-colour;
}

.nav-tabs > li > a:hover span {
    color: $text-colour;
}

.nav-tabs > li.active > a span {
    color: $text-highlight-colour;
}

.card.card-info {
    box-shadow: 0 0 0 2px #ccc;
}

.layer-card {
    left: -100px;
    width: $card-width;
}

.card {
    position: relative;
    margin-bottom: 12px;
    border-radius: 0;
    border-color: $border-colour;
    box-shadow: none;
    border: none;
    color: #fff;
    background-color: $background-colour;
}

.card-title {
    font-size: 12px;
}

.card-info > .card-header {
    color: #fff;
    background-color: $background-colour;
    border-color: $border-colour;
}

.card.card-with-tabs .card-header {
    border-bottom: none;
}

.card .accordion-link {
    margin: -6px -12px;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
    color:#707070;
}

.card.card-bordered {
    border: 1px solid $border-colour;
}

.card-sub .card .card-header {
	height:43px;
}

.card.card-bordered a:hover {
    color: $blue-hover-colour;
}

.infocard-legend {
	max-width: 260px;
}

.table.table-inverse {
    color: $text-highlight-colour;
}

.sidebar-card-menu-show {
	list-style-type: none;
	margin: 0;
	padding: 5px 0;
	margin-left: 25px;
	font-size: 12px;
}

.form-group > label {
    margin-left: 0.5em;
}

.btn-sm {
    margin: 0 0 0.5em 1.5em;
}

.btn-xs {
    margin: 0 0 0.5em 0.5em;
}

.btn-sm.float-right {
    margin: 0 1.5em 0.5em 0;
}

.btn-xs.float-right {
    margin: 0 0.5em 0.5em 0;
}

.tab-content {
    padding: 15px;
}

div.alert.alert-danger p > a:hover {
	color: $blue-hover-colour;
}

div.alert.alert-danger p > a {
	color: #e80b0b;
}

/* HACK to bring scalar legend dialog to the top (@angular/material)*/
.cdk-overlay-container {
    z-index: 10000 !important;
}

.hasEvent {
	pointer-events: auto;
	cursor: pointer;
}

.content-break-word {
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	word-break: break-all;
	white-space: normal;
}

/* Disclaimer link */
app-disclaimer-modal-window a:hover, app-disclaimer-modal-window a:hover > i + span {
    color: $blue-hover-colour;
}

/* 'line-height-1-8' is used for displaying bounding box coords */
.line-height-1-8 {
	line-height:1.8
}

fieldset.show-fieldset-borders {
	border: 1px solid #c4c4c4;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 1em 1em 1em;
}

fieldset legend{
	border-bottom:	0px;
	color: #fff;
	width: 70%;
	padding-left:10px;
}

fieldset.show-fieldset-borders-whitebg {
	border: 1px solid #c4c4c4;
    padding: 0 1.4em 1.4em 1.4em;
}

fieldset.show-fieldset-borders-whitebg legend{
	border-bottom:	0px;
	color: #000000;
	width: 20%;
	padding-left:10px;
}


/**
 * Start of animation for working in progress
 */
@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.wip span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;

    margin-right: 5px;
}

.wip span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.wip span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}

/**
 * End of animation for working in progress
 */


/*
 * width < 768px (small screen)
*/
@media (max-width: 767px) {
	.layer-card {
		left: -60px;
		width: calc(100% + 50px);
	}

	.layer-card > .card-header li > a {
		height: 30px;
	}

    .card-body .form-group > label + select {
        margin-left: 0px;
    }

    .map-area {
        margin-left: 0;
    }

    .sidebar {
        left: $sidebar-width-folded;
        width: $sidebar-width-folded;
        margin-left: calc(-1.0 * #{$sidebar-width-folded});
        top: $navbar-more-height;
    }

    button.nav.navbar-toggler .nav-index-btn {
        opacity: 0;
        height: 0;
        transition: opacity 0.8s, height 0.8s;
    }

    button.nav.navbar-toggler.collapsed .nav-index-btn {
        opacity: 1;
        transition: opacity 0.8s;
    }

    button.nav.navbar-toggler.collapsed .nav-map-btn {
        opacity: 1;
        transition: opacity 0.8s;
    }

    button.nav.navbar-toggler.collapsed .nav-map-btn {
        opacity: 0;
        height: 0;
        transition: opacity 0.8s, height 0.8s;
    }

    .navbar {
        height: $navbar-more-height;
    }

    .search-panel {
        display: none;
    }

    /* In the sidebar, under info tab, cesium map */
    #previewMapElement {
        height: 270px!important;
        width: 270px!important;
    }

} /* End of width < 768px */

/*
 * width > 576px (small screen)
 */
@media (min-width: 576px) and (max-width: 768px){
    .modal-dialog {
        max-width: 550px;
        width: 550px;
        height: 900px; /* control height here */
        margin: 1.75rem auto;
    }
}

/*
 * width > 768px & width < 900 (larger screen)
 */
@media (min-width: 768px) and (max-width: 900px) {
    .modal-lg {
        max-width: 720px;
        width: 720px;
        height: 900px; /* control height here */
    }
}

@media (min-width: 900px) and (max-width: 1100px) {
    .modal-lg {
        max-width: 850px;
        width: 850px;
        height: 900px; /* control height here */
    }
}

@media (min-width: 1100px) {
    .modal-lg {
        max-width: 1050px;
        width: 1050px;
        height: 1100px; /* control height here */
    }
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*
 * Start of 'slimscroll' scrollbar customisation
 */

.slimscroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 6px;
	background-color: #222;
}

.slimscroll::-webkit-scrollbar
{
	width: 8px;
	background-color: #6c6c6c;
}

.slimscroll::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #707070;
}

/*
 * End of 'slimscroll' scrollbar customisation
 */


/* START  modal dialog rules */
.modal-dialog {
    .card, .card-body {
        background-color: #fff !important;
        color: #000 !important;
    }

    .nav-tabs > li.active > a span {
        color: #000;
    }

    .nav-tabs i.fa {
        font-size: 16px;
    }

    .nav-tabs > li {
        margin-top: 0px;
    }

    .nav-tabs > li.active > a {
        border-bottom-color: #fff;
    }

    .nav-tabs > li > a:hover {
        background-color: transparent;
        border-color: #fff;
        color: $text-colour;
    }
}
/* END modal dialog rules */

/* START Rickshaw settings that work from here */
.rickshaw_smoother_tick_mark {
    display:inline-block;
    width:1px;
    background-color: #808080;
    height:4px;
    position:absolute;
    top:-4px;
}

.rickshaw_smoother_tick_num {
    display:inline-block;
    width:20px;
    height:5px;
    position:absolute;
    top:-20px;
    font-size: xx-small;
}
/* END Rickshaw settings that work from here */
