	<div class="modal-header">
		<h4>{{ data.title }}</h4><button class="btn btn-sm btn-outline pull-right" aria-label="Close" (click)="dialogRef.close()"><i class="fa fa-times"></i></button>
	</div>
	<div class="modal-body">
		{{ data.modalContent }}
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="dialogRef.close('CANCEL')">{{ data.cancelButtonText }}</button>
		<button type="button" class="btn btn-primary" (click)="dialogRef.close('OK')">{{ data.confirmButtonText }}</button>
	</div>
