div.red {
    margin-bottom: 5px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: relative;
    margin-top: 4px;
    margin-left: 0px;
}

.warning-icon {
    color: orange;
}

.unsupported-layer-message {
    margin-top: 8px;
}

.unclickable-btn {
    pointer-events: none;
}

::ng-deep {
    .time-dropdown {
        .dropdown-menu {
            max-height: 200px;
            overflow-y: auto;
        }
    }
}

.date-btn {
    position: absolute;
}