div.red {
    margin-bottom: 5px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: relative;
    margin-top: 4px;
    margin-left: 0px;
}

.warning-icon {
    color: orange;
}

.unsupported-layer-message {
    margin-top: 8px;
}

.unclickable-btn {
    pointer-events: none;
}

::ng-deep {
    .time-dropdown {

        .dropdown {
            position: absolute;
            left: 0;
        }

        .dropdown-menu {
            max-height: 200px;
            overflow-y: auto;
        }
    }
    .mat-radio-outer-circle {
        border-color: white;
    }

    .alert.alert-warning.fade.show {
        margin-left: 0;
        margin-right: 0;
    }
}

.filter-divider {
    border-color: lightgray;
}

.date-btn {
    position: initial;
}

.add-layer-btn {
    margin: 0 0em 0.5em 0;
}

.analytic-btn {
    margin-left: 0;
}